{include file="../application/index/view/public/index_tou.html" /}
		
		<!--navbar star-->
		<div class="navbar clearfix">
			<div class="content clearfix">
				<ul>
					<li><a href="{:url('index/index')}">首页</a></li>
					<li><a href="{:url('zhuan/special')}">专场</a></li>
					<li><a href="{:url('store/mall')}">商城</a></li>
					<li class="cur"><a href="{:url('art/artist')}">艺术家</a></li>
				</ul>
			</div>
		</div>
		<!--navbar end-->
		
		<!--mall star-->
		<div class="mall clearfix">
			<!--sorts star-->
			<div class="sorts clearfix">
				<div class="content clearfix">
					<div class="top clearfix box-s">
						您的位置：艺术家
					</div>
					<div class="listed clearfix box-s">
						<div class="list clearfix fl">
							<p class="bt fl">
								分类：
							</p>
							<div class="right clearfix fl">
								<ul>
									<li class="cur">全部</li>
									<li class="">书画</li>
									<li class="">油画</li>
									<li class="">版画</li>
									<li class="">雕塑</li>
								</ul>
								<a href="settled.html" class="shenqin fr">申请签约入驻</a>
							</div>
						</div>
						<div class="ywlist clearfix fl" id="float">
							<div class="ywctent clearfix">
								<ul class="clearfix">
									<li class="cur">A</li>
									<li>B</li>
									<li>C</li>
									<li>D</li>
									<li>E</li>
									<li>F</li>
									<li>G</li>
									<li>H</li>
									<li>I</li>
									<li>J</li>
									<li>K</li>
									<li>L</li>
									<li>M</li>
									<li>N</li>
									<li>O</li>
									<li>P</li>
									<li>Q</li>
									<li>R</li>
									<li>S</li>
									<li>T</li>
									<li>U</li>
									<li>V</li>
									<li>W</li>
									<li>X</li>
									<li>Y</li>
									<li class="last">Z</li>
								</ul>
							</div>							
						</div>
					</div>
				</div>
			</div>
			<!--sorts end-->
			
			<!--artist star-->
			<div class="artist clearfix">
				<div class="content clearfix">
					<div class="artist-top clearfix">
						<span>全部艺术家</span>
					</div>
					<div class="artist-bottom clearfix">
						<div class="list clearfix fl">
							<div class="left clearfix fl box-s">
								<div class="tu clearfix">
									<img src="__PUBLIC_INDEX__/upload/7.jpg"/>
									<span></span>
								</div>
							</div>
							<div class="right clearfix fl">
								<span class="tit">艺术家：孙瑾晨</span>
								<div class="bottom clearfix box-s fl over4">
									艺术家（英文叫artist）是指具有较高的审美能力和娴熟的创造技巧并从事艺术创作劳动而有一定成
									就的艺术工作者；既包括在艺术领域，影视领域里以艺术创作作为自己专门职业的人，也包括在自己
									职业之外从事艺术创作的人。是一个原于自然，发于心灵的艺术作品创作者。
									艺术家（英文叫artist）是指具有较高的审美能力和娴熟的创造技巧并从事艺术创作劳动而有一定
									成就的艺术工作者；既包括在艺术领域，影视领域里以艺术创作作为自己专门职业的人，也包括在自
									己职业之外从事......
								</div>
							</div>
							<a href="__PUBLICA__/art/artist_detail.html" class="ck-btn ra3 transition">
								查看详情>>
							</a>
						</div>
						<div class="list clearfix fl">
							<div class="left clearfix fl box-s">
								<div class="tu clearfix">
									<img src="__PUBLIC_INDEX__/upload/7.jpg"/>
									<span></span>
								</div>
							</div>
							<div class="right clearfix fl">
								<span class="tit">艺术家：孙瑾晨</span>
								<div class="bottom clearfix box-s fl over4">
									艺术家（英文叫artist）是指具有较高的审美能力和娴熟的创造技巧并从事艺术创作劳动而有一定成
									就的艺术工作者；既包括在艺术领域，影视领域里以艺术创作作为自己专门职业的人，也包括在自己
									职业之外从事艺术创作的人。是一个原于自然，发于心灵的艺术作品创作者。
									艺术家（英文叫artist）是指具有较高的审美能力和娴熟的创造技巧并从事艺术创作劳动而有一定
									成就的艺术工作者；既包括在艺术领域，影视领域里以艺术创作作为自己专门职业的人，也包括在自
									己职业之外从事......
								</div>
							</div>
							<a href="__PUBLICA__/art/artist_detail.html" class="ck-btn ra3 transition">
								查看详情>>
							</a>
						</div>
						<div class="list clearfix fl">
							<div class="left clearfix fl box-s">
								<div class="tu clearfix">
									<img src="__PUBLIC_INDEX__/upload/7.jpg"/>
									<span></span>
								</div>
							</div>
							<div class="right clearfix fl">
								<span class="tit">艺术家：孙瑾晨</span>
								<div class="bottom clearfix box-s fl over4">
									艺术家（英文叫artist）是指具有较高的审美能力和娴熟的创造技巧并从事艺术创作劳动而有一定成
									就的艺术工作者；既包括在艺术领域，影视领域里以艺术创作作为自己专门职业的人，也包括在自己
									职业之外从事艺术创作的人。是一个原于自然，发于心灵的艺术作品创作者。
									艺术家（英文叫artist）是指具有较高的审美能力和娴熟的创造技巧并从事艺术创作劳动而有一定
									成就的艺术工作者；既包括在艺术领域，影视领域里以艺术创作作为自己专门职业的人，也包括在自
									己职业之外从事......
								</div>
							</div>
							<a href="__PUBLICA__/art/artist_detail.html" class="ck-btn ra3 transition">
								查看详情>>
							</a>
						</div>
						<div class="list clearfix fl">
							<div class="left clearfix fl box-s">
								<div class="tu clearfix">
									<img src="__PUBLIC_INDEX__/upload/7.jpg"/>
									<span></span>
								</div>
							</div>
							<div class="right clearfix fl">
								<span class="tit">艺术家：孙瑾晨</span>
								<div class="bottom clearfix box-s fl over4">
									艺术家（英文叫artist）是指具有较高的审美能力和娴熟的创造技巧并从事艺术创作劳动而有一定成
									就的艺术工作者；既包括在艺术领域，影视领域里以艺术创作作为自己专门职业的人，也包括在自己
									职业之外从事艺术创作的人。是一个原于自然，发于心灵的艺术作品创作者。
									艺术家（英文叫artist）是指具有较高的审美能力和娴熟的创造技巧并从事艺术创作劳动而有一定
									成就的艺术工作者；既包括在艺术领域，影视领域里以艺术创作作为自己专门职业的人，也包括在自
									己职业之外从事......
								</div>
							</div>
							<a href="__PUBLICA__/art/artist_detail.html" class="ck-btn ra3 transition">
								查看详情>>
							</a>
						</div>
						<div class="list clearfix fl">
							<div class="left clearfix fl box-s">
								<div class="tu clearfix">
									<img src="__PUBLIC_INDEX__/upload/7.jpg"/>
									<span></span>
								</div>
							</div>
							<div class="right clearfix fl">
								<span class="tit">艺术家：孙瑾晨</span>
								<div class="bottom clearfix box-s fl over4">
									艺术家（英文叫artist）是指具有较高的审美能力和娴熟的创造技巧并从事艺术创作劳动而有一定成
									就的艺术工作者；既包括在艺术领域，影视领域里以艺术创作作为自己专门职业的人，也包括在自己
									职业之外从事艺术创作的人。是一个原于自然，发于心灵的艺术作品创作者。
									艺术家（英文叫artist）是指具有较高的审美能力和娴熟的创造技巧并从事艺术创作劳动而有一定
									成就的艺术工作者；既包括在艺术领域，影视领域里以艺术创作作为自己专门职业的人，也包括在自
									己职业之外从事......
								</div>
							</div>
							<a href="__PUBLICA__/art/artist_detail.html" class="ck-btn ra3 transition">
								查看详情>>
							</a>
						</div>
					</div>
					<div class="page clearfix ta-right fl mt25">
						<a href="#" class="pre box-s">上一页</a>
						<a href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<span>...</span>
						<a href="#" class="next box-s">下一页</a>
						<span class="ml10">到第</span>
						<input type="" name="" id="" value="" />
						<span>页</span>
						<input type="submit" name="" id="" value="确定" />
					</div>
				</div>
			</div>
			<!--artist end-->
			
		</div>
		<!--mall end-->
		
{include file="../application/index/view/public/footer.html" /}

<script type="text/javascript">
	window.onload=
	function(){
	    var oDiv=document.getElementById("float");
	    var H=0;
	    var Y=oDiv;
	    while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
	    window.onscroll=function()
	    {
	        var s=document.body.scrollTop||document.documentElement.scrollTop;
	        if(s>H){oDiv.className="ywlist ywlisttwo";}
	        else{oDiv.className="ywlist";}    
	    };
	}		
</script>