<!DOCTYPE html>
<h{include file="../application/index/view/public/index_tou.html" /}
		
		<!--navbar star-->
		<div class="navbar clearfix">
			<div class="content clearfix">
				<ul>
					<li><a href="__PUBLICA__/index/index.html">首页</a></li>
					<li><a href="__PUBLICA__/zhuan/special.html">专场</a></li>
					<li><a href="__PUBLICA__/store/mall.html">商城</a></li>
					<li class="cur"><a href="__PUBLICA__/art/artist.html">艺术家</a></li>
				</ul>
			</div>
		</div>
		<!--navbar end-->
		
		<!--settled star-->
		<div class="homepage clearfix">
			<div class="content clearfix">
				<div class="media-right clearfix box-s">
					<div class="top clearfix">
						<samp class="line db"></samp>
						<samp class="curline db" style="width: 100%;"></samp>
						<ul>
							<li class="fl">
								<div class="shu cur clearfix box-s">
									<span class="cur">
										1
									</span>
								</div>
								<p class="cur">注册账号</p>
							</li>
							<li class="fl">
								<div class="shu cur clearfix box-s">
									<span class="cur">
										2
									</span>
								</div>
								<p class="cur">完善资料</p>
							</li>
							<li class="fl">
								<div class="shu cur clearfix box-s">
									<span class="cur">
										3
									</span>
								</div>
								<p class="cur">注册成功</p>
							</li>
						</ul>
					</div>
					<div class="success-bottom clearfix box-s">
						<div class="success clearfix ta-c">
							<img src="__PUBLIC_INDEX__/img/success.png">
							<p class="tit ta-c">
								恭喜您，注册成功！
							</p>
							<p class="fu-tit ta-c">
								<span>5</span>
								秒后自动跳转到<a href="sign.html">登录</a>页
							</p>
						</div>
					</div>			
				</div>
			</div>
		</div>
		<!--settled end-->		
		
{include file="../application/index/view/public/footer.html" /}