{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="__PUBLICA__/geren/grxx.html" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/wddd.html" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/pjsd.html" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/shdz.html" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdsc.html" class="db fs16">我的收藏</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdgz.html" class="db fs16">我的关注</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/xgmm.html" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zhye.html" class="db fs16">账户余额</a>
						</li>
						<li class="on">
							<a href="__PUBLICA__/fund/zxcz.html" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/lljl.html" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/zixun.html" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/znx.html" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit line-bot">
						<h3 class="fs26">在线充值</h3></div>
					<form action="">
						<div class="re_charge line-bot pb30 pt30 "><label class="fs16 darkgray">输入充值金额</label><input type="text" class="ml10 mr10 fs16" placeholder=""><label class="fs16 darkgray">元</label></div>
						<div class="pay-style line-bot pb30 pt30 clearfix">
							<label class="fl fs16 darkgray">支付平台支付</label>
							<a href="javascript:" class="check-inline check_on ml10"><span><img src="__PUBLIC_INDEX__/img/cft.jpg"/></span><em></em></a>
							<a href="javascript:" class="check-inline ml10"><span><img src="__PUBLIC_INDEX__/img/zfb.jpg" /></span><em></em></a>
						</div>
						<div class="bank-check line-bot pt30 pb30 clearfix">
							<label class="fl fs16 darkgray">网银在线支付</label>
							<div class="fl bank-list clearfix">
								<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/zh.jpg"></span><em></em></a>
								<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/gh.jpg"></span><em></em></a>
								<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/jh.jpg"></span><em></em></a>
								<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/chinaback.jpg"></span><em></em></a>
								<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/yz.jpg"></span><em></em></a>
								<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/gf.jpg"></span><em></em></a>
								<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/pf.jpg"></span><em></em></a>
								<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/ms.jpg"></span><em></em></a>
								<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/bh.jpg"></span><em></em></a>
								<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/zx.jpg"></span><em></em></a>
							</div>
						</div>
						<div class="next pt30 ">
							<input type="button" class="radius3 orange-but fs20" value="下一步">
						</div>
					</form>

				</div>

			</div>
		</div>
		<!--/end-->

{include file="../application/index/view/public/footer.html" /}