{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg clearfix">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="__PUBLICA__/geren/grxx.html" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/wddd.html" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/pjsd.html" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/shdz.html" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdsc.html" class="db fs16">我的收藏</a>
						</li>
						<li class="on">
							<a href="__PUBLICA__/geren/wdgz.html" class="db fs16">我的关注</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/xgmm.html" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zhye.html" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zxcz.html" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/lljl.html" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/zixun.html" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/znx.html" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit line-bot clearfix">
						<h3 class="fl fs26">我的关注</h3>
					</div>
					<div class="wdgz clearfix">
						<div class="list clearfix box-s">
							<div class="tu clearfix fl box-s">
								<span></span>
								<img src="__PUBLIC_INDEX__/upload/5.jpg"/>
							</div>
							<div class="middle clearfix fl">
								<p>孙瑾晨</p>
								<div class="xia clearfix">
									<ul>
										<li>关注：<span>12</span></li>
										<li>粉丝：<span>120</span></li>
									</ul>
								</div>
							</div>
							<a href="#" class="guanzhu fl ra3">
								取消关注
							</a>
							<!--下面列表式该艺术家最新发布产品 最多展示5个-->
							<div class="right clearfix fr">
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/img001.jpg"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1.jpg"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-4.png"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-3.png"/>
											<span></span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="list clearfix box-s">
							<div class="tu clearfix fl box-s">
								<span></span>
								<img src="__PUBLIC_INDEX__/upload/5.jpg"/>
							</div>
							<div class="middle clearfix fl">
								<p>小小孙</p>
								<div class="xia clearfix">
									<ul>
										<li>关注：<span>112</span></li>
										<li>粉丝：<span>1220</span></li>
									</ul>
								</div>
							</div>
							<a href="#" class="guanzhu fl ra3">
								取消关注
							</a>
							<!--下面列表式该艺术家最新发布产品 最多展示5个-->
							<div class="right clearfix fr">
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-1.png"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-2.png"/>
											<span></span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="list clearfix box-s">
							<div class="tu clearfix fl box-s">
								<span></span>
								<img src="__PUBLIC_INDEX__/upload/5.jpg"/>
							</div>
							<div class="middle clearfix fl">
								<p>撒的发</p>
								<div class="xia clearfix">
									<ul>
										<li>关注：<span>0</span></li>
										<li>粉丝：<span>1</span></li>
									</ul>
								</div>
							</div>
							<a href="#" class="guanzhu fl ra3">
								取消关注
							</a>
							<!--下面列表式该艺术家最新发布产品 最多展示5个-->
							<div class="right clearfix fr">
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-1.png"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-2.png"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1.jpg"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-4.png"/>
											<span></span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="list clearfix box-s">
							<div class="tu clearfix fl box-s">
								<span></span>
								<img src="__PUBLIC_INDEX__/upload/5.jpg"/>
							</div>
							<div class="middle clearfix fl">
								<p>撒的发</p>
								<div class="xia clearfix">
									<ul>
										<li>关注：<span>0</span></li>
										<li>粉丝：<span>1</span></li>
									</ul>
								</div>
							</div>
							<a href="#" class="guanzhu fl ra3">
								取消关注
							</a>							
						</div>
						<div class="list clearfix box-s">
							<div class="tu clearfix fl box-s">
								<span></span>
								<img src="__PUBLIC_INDEX__/upload/5.jpg"/>
							</div>
							<div class="middle clearfix fl">
								<p>小小孙</p>
								<div class="xia clearfix">
									<ul>
										<li>关注：<span>112</span></li>
										<li>粉丝：<span>1220</span></li>
									</ul>
								</div>
							</div>
							<a href="#" class="guanzhu fl ra3">
								取消关注
							</a>
							<!--下面列表式该艺术家最新发布产品 最多展示5个-->
							<div class="right clearfix fr">
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-1.png"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-2.png"/>
											<span></span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="list clearfix box-s">
							<div class="tu clearfix fl box-s">
								<span></span>
								<img src="__PUBLIC_INDEX__/upload/5.jpg"/>
							</div>
							<div class="middle clearfix fl">
								<p>撒的发</p>
								<div class="xia clearfix">
									<ul>
										<li>关注：<span>0</span></li>
										<li>粉丝：<span>1</span></li>
									</ul>
								</div>
							</div>
							<a href="#" class="guanzhu fl ra3">
								取消关注
							</a>
							<!--下面列表式该艺术家最新发布产品 最多展示5个-->
							<div class="right clearfix fr">
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-1.png"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-2.png"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1.jpg"/>
											<span></span>
										</div>
									</a>
								</div>
								<div class="rlist clearfix fl">
									<a href="__PUBLICA__/people/pro_detail.html" title="墙角数枝梅">
										<div class="timg clearfix">
											<img src="__PUBLIC_INDEX__/upload/1-4.png"/>
											<span></span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="list clearfix box-s">
							<div class="tu clearfix fl box-s">
								<span></span>
								<img src="__PUBLIC_INDEX__/upload/5.jpg"/>
							</div>
							<div class="middle clearfix fl">
								<p>撒的发</p>
								<div class="xia clearfix">
									<ul>
										<li>关注：<span>0</span></li>
										<li>粉丝：<span>1</span></li>
									</ul>
								</div>
							</div>
							<a href="#" class="guanzhu fl ra3">
								取消关注
							</a>							
						</div>
					</div>
					<div class="tab-pages mt10">
						<a href="#" class="tab-prev tab-btn">上一页</a>
						<a href="#" class="page-btn current">1</a>
						<a href="#" class="page-btn">2</a>
						<a href="#" class="page-btn">3</a>
						<a href="#" class="tab-next tab-btn">下一页</a>
					</div>
				</div>

			</div>
		</div>
		<!--/end-->
{include file="../application/index/view/public/footer.html" /}