{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="__PUBLICA__/geren/grxx.html" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/wddd.html" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/pjsd.html" class="db fs16">评价晒单</a>
						</li>
						<li class="on">
							<a href="__PUBLICA__/geren/shdz.html" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdsc.html" class="db fs16">我的收藏</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdgz.html" class="db fs16">我的关注</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/xgmm.html" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zhye.html" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zxcz.html" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/lljl.html" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/zixun.html" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/znx.html" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit line-bot">
						<h3 class="fs26">收货地址</h3></div>
					<div class="add-address fs14 mt20 mb30">
						<form action="">
							<p class="address-tit mb20 clearfix"><i class="fl iconfont tc">&#xe611;</i><span class="fl fs16 bold orange ml5">新增收货地址</span></p>
							<p class="mb20 clearfix">
								<label class="fl"><em class="red">*</em>收件人：</label>
								<input type="text" placeholder="姓名" value="" class="fl">
								<label class="fl"><em class="red">*</em>收件人：</label>
								<input type="text" placeholder="手机" value="" class="fl">
							</p>
							<p class="mb20 clearfix">
								<label class="fl"><em class="red f-arial">*</em>地址：</label>
								<select name="" id="" class="fl">
									<option value="0">省份/直辖市</option>
									<option value="1">安徽省</option>
								</select>
								<select name="" id="" class="fl ml10">
									<option value="0">城市</option>
									<option value="1">合肥市</option>
								</select>
								<select name="" id="" class="fl ml10">
									<option value="0">区县</option>
									<option value="1">高新区</option>
								</select>
							</p>
							<p class="mb20 clearfix">
								<label class="fl">&nbsp;</label>
								<textarea name="" id="" cols="30" rows="10" placeholder="请输入您的详细地址" class="fl"></textarea>
							</p>
							<p class="mb20 clearfix">
								<label class="fl">邮政编码：</label>
								<input type="text" placeholder="邮政编码" value="" class="fl">
							</p>
							<p class="mb20 clearfix">
								<label class="fl">&nbsp;</label>
								<input type="button" value="确认" class="fl orange-but radius3 fs16">
								<input type="button" value="取消" class="fl reset-but radius3 fs16 ml10">
							</p>
						</form>
					</div>
					<div class="saved-address">
						<p class="address-tit mb10 clearfix"><i class="fl iconfont tc">&#xe610;</i><span class="fl fs16 bold orange ml5">已保存收货地址</span></p>
						<table class="ye-table address-table" style="border:1px solid #eaeaea">
							<tr>
								<th width="10%">收货人</th>
								<th width="60%">收货地址</th>
								<th width="10%">电话</th>
								<th width="20%">操作</th>
							</tr>
							<tr>
								<td>张先生</td>
								<td>安徽省合肥市蜀山区你猜猜我办公的地点是哪里</td>
								<td>18056225225</td>
								<td>
									<a href="javascript:" class="pl10"><i class="iconfont">&#xe60b;</i><em class="orange">删除</em></a>
									<a href="javascript:" class="pl10"><i class="iconfont">&#xe60f;</i><em class="orange">编辑</em></a>
								</td>
							</tr>
							<tr>
								<td>张先生</td>
								<td>安徽省合肥市蜀山区你猜猜我办公的地点是哪里</td>
								<td>18056225225</td>
								<td>
									<a href="javascript:" class="pl10"><i class="iconfont">&#xe60b;</i><em class="orange">删除</em></a>
									<a href="javascript:" class="pl10"><i class="iconfont">&#xe60f;</i><em class="orange">编辑</em></a>
								</td>
							</tr>
						</table>
					</div>

				</div>

			</div>
		</div>
		<!--/end-->

{include file="../application/index/view/public/footer.html" /}