{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="{:url('geren/grxx')}" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="{:url('indent/wddd')}" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="{:url('indent/pjsd')}" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="{:url('geren/shdz')}" class="db fs16">收货地址</a>
						</li>
						<li class="on">
							<a href="{:url('geren/wdsc')}" class="db fs16">我的收藏</a>
						</li>
						<li>
							<a href="{:url('geren/wdgz')}" class="db fs16">我的关注</a>
						</li>
						<li>
							<a href="{:url('geren/xgmm')}" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="{:url('fund/zhye')}" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="{:url('fund/zxcz')}" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="{:url('indent/lljl')}" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/zixun')}" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/znx')}" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit line-bot">
						<h3 class="fs26">我的收藏</h3></div>
					<div class="fav-list mt10">
						<ul class="clearfix" id="sp">
							
						</ul>
					</div>
					<div class="tab-pages mt10">
						<a id="aa" href="" class="tab-prev tab-btn">首页</a>
						<a id="ab" href="" class="page-btn current">上一页</a>
						<a id="ac" href="" class="page-btn">下一页</a>
						<a id="ad" href="" class="page-btn">尾页</a>
						
					</div>

				</div>

			</div>
		</div>
		<!--/end-->
{include file="../application/index/view/public/footer.html" /}
<script type="text/javascript">
    var table = $('#sp');
    var aa = $('#aa');
    var ab = $('#ab');
    var ac = $('#ac');
    var ad = $('#ad');
    
    $.ajax({
        'type':'get',
        'url':"{:url('geren/pages')}",
        'data':{page:1},
        'async':true,
        'success':success,
    });

    function success(data)
    {
        table.html('');
        //console.log(data);
        var data = JSON.parse(data);
        
        for (var i=0; i<data.user[0].length; i++) {
            var pname = data.user[0][i].pname;
            var cname = data.user[0][i].mname;
            var money = data.user[0][i].money;
            var ymoney = data.user[0][i].dmoney;
            var id = data.user[0][i].mid;
            
            //console.log(data.user[0][i]);
            $('<li><a href="#" class="pro "><span><img src="'+ pname +'" alt=""/></span></a><a href="#" class="tit fs14 full-db  darkgray over">北京椿龄文化墙角一枝梅</a><span class="fs14 full-db "><em class="orange">29.90</em> 元</span><span class="fs12 full-db ">95127人评价</span><a href="javascript:" class="a-option i-del"><i class="iconfont fs20">&#xe60b;</i></a><a href="javascript:" class="a-option i-shopping"><i class="iconfont fs20">&#xe60a;</i></a></li>').appendTo($('#sp'));
        }
        //http://1.php?page=1
        //console.log(test(data.url.next));
        aa.attr("href",'javascript:test("'+ data.url.first +'")');
        ab.attr("href",'javascript:test("'+ data.url.prev +'")');
        ac.attr("href",'javascript:test("'+ data.url.next +'")');
        ad.attr("href",'javascript:test("'+ data.url.end +'")');
    }

    function test(url)
    {
        $.ajax({
            'type':'get',
            'url':url,
            'data':null,
            'async':true,
            'success':success
        });
    }
</script>