{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="{:url('geren/grxx')}" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="{:url('indent/wddd')}" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="{:url('indent/pjsd')}" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="{:url('geren/shdz')}" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="{:url('geren/wdsc')}" class="db fs16">我的收藏</a>
						</li>
						<li>
							<a href="{:url('geren/wdgz')}" class="db fs16">我的关注</a>
						</li>
						<li class="on">
							<a href="{:url('geren/xgmm')}" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="{:url('fund/zhye')}" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="{:url('fund/zxcz')}" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="{:url('indent/lljl')}" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/zixun')}" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/znx')}" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit line-bot clearfix">
						<h3 class="fl fs26">修改密码</h3>
					</div>
					<div class="passbox">
						<form action="">
							<p class="clearfix mb20"><label class="fl fs14">原密码：</label><input type="text" class="fl ml10" placeholder="" value=""></p>
							<p class="clearfix mb20"><label class="fl fs14">新密码：</label><input type="text" class="fl ml10" placeholder="密码由6-16位字符组成，区分大小写" value=""></p>
							<p class="clearfix mb20"><label class="fl fs14">重复新密码：</label><input type="text" class="fl ml10" placeholder="" value=""></p>
							<p class="clearfix">
								<label class="fl"></label>
								<input type="button" class="fl ml10 orange-but fs16 radius3" value="确认">
								<input type="button" class="fl ml10 fs16 radius3 reset-but" value="取消">
							</p>
						</form>

					</div>
				</div>

			</div>
		</div>
		<!--/end-->
{include file="../application/index/view/public/footer.html" /}