{include file="../application/index/view/public/grxx_tou.html" /}
		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="{:url('geren/grxx')}" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="{:url('indent/wddd')}" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="{:url('indent/pjsd')}" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="{:url('geren/shdz')}" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="{:url('geren/wdsc')}" class="db fs16">我的收藏</a>
						</li>
						
						<li>
							<a href="{:url('geren/xgmm')}" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="{:url('fund/zhye')}" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="{:url('fund/zxcz')}" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="{:url('indent/lljl')}" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/zixun')}" class="db fs16">我的咨询</a>
						</li>
						<li class="on">
							<a href="{:url('xiaoxi/znx')}" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit dark-tittwo clearfix">
						<h3 class="fl fs26">站内信</h3>
						<p class="fr slide-t-nav">
							<a href="__PUBLICA__/xiaoxi/znx.html" class="fs14 radius3">收件</a>
							<a href="__PUBLICA__/xiaoxi/xiexin.html" class="on fs14 radius3">写信</a>
							<a href="__PUBLICA__/xiaoxi/znx.html" class="fs14 radius3">发件</a>
						</p>
					</div>
					
					<div class="xiexin clearfix">
						<input type="text" name="" id="" value="" placeholder="标题" class="tit" />
						<div class="wbkuang clearfix">
							<img src="__PUBLIC_INDEX__/upload/wenbenkuang.jpg"/>
						</div>
						<div class="xia clearfix">
							<a href="#" class="fl ra3">
								发送
							</a>
							<a href="#" class="fl ra3">
								重写
							</a>
						</div>
					</div>

				</div>

			</div>
		</div>
		<!--/end-->
{include file="../application/index/view/public/footer.html" /}