{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="{:url('geren/grxx')}" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="{:url('indent/wddd')}" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="{:url('indent/pjsd')}" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="{:url('geren/shdz')}" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="{:url('geren/wdsc')}" class="db fs16">我的收藏</a>
						</li>
						
						<li>
							<a href="{:url('geren/xgmm')}" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="{:url('fund/zhye')}" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="{:url('fund/zxcz')}" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="{:url('indent/lljl')}" class="db fs16">退货记录</a>
						</li>
						<li class="on">
							<a href="{:url('xiaoxi/zixun')}" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/znx')}" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit clearfix">
						<h3 class="fl fs26">我的咨询</h3>
					</div>
					<table class="table_1">
						<tr>
							<th width="30%">咨询商品/艺术品</th>
							<th width="70%">咨询/回复</th>
						</tr>
					</table>
					<table class="table_1 mt15">
						<tr>
							<th align="left" colspan="6">
								<p class="fs12">咨询时间：2014-10-11 13:26:39</p>
							</th>
						</tr>
						<tr>
							<td width="30%">
								<p class="clearfix o-goods-info">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit ">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span>
								</p>
							</td>
							<td width="70%" align="left">
								<p class="pl20">咨询内容： 这里是我咨询的内容是打发打发撒的发生大发是的发生</p>
								<p class="pl20">回复内容： 你猜猜我是怎么回复你</p>
							</td>
						</tr>
					</table>
					<table class="table_1 mt15">
						<tr>
							<th align="left" colspan="6">
								<p class="fs12">咨询时间：2014-10-11 13:26:39</p>
							</th>
						</tr>
						<tr>
							<td width="30%">
								<p class="clearfix o-goods-info">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit ">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span>
								</p>
							</td>
							<td width="70%" align="left">
								<p class="pl20">咨询内容： 这里是我咨询的内容是打发打发撒的发生大发是的发生</p>
								<p class="pl20">回复内容： 你猜猜我是怎么回复你</p>
							</td>
						</tr>
					</table>
					<table class="table_1 mt15">
						<tr>
							<th align="left" colspan="6">
								<p class="fs12">咨询时间：2014-10-11 13:26:39</p>
							</th>
						</tr>
						<tr>
							<td width="30%">
								<p class="clearfix o-goods-info">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit ">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span>
								</p>
							</td>
							<td width="70%" align="left">
								<p class="pl20">咨询内容： 这里是我咨询的内容是打发打发撒的发生大发是的发生</p>
								<p class="pl20">回复内容： 你猜猜我是怎么回复你</p>
							</td>
						</tr>
					</table>
					<table class="table_1 mt15">
						<tr>
							<th align="left" colspan="6">
								<p class="fs12">咨询时间：2014-10-11 13:26:39</p>
							</th>
						</tr>
						<tr>
							<td width="30%">
								<p class="clearfix o-goods-info">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit ">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span>
								</p>
							</td>
							<td width="70%" align="left">
								<p class="pl20">咨询内容： 这里是我咨询的内容是打发打发撒的发生大发是的发生</p>
								<p class="pl20">回复内容： 你猜猜我是怎么回复你</p>
							</td>
						</tr>
					</table>
					<table class="table_1 mt15">
						<tr>
							<th align="left" colspan="6">
								<p class="fs12">咨询时间：2014-10-11 13:26:39</p>
							</th>
						</tr>
						<tr>
							<td width="30%">
								<p class="clearfix o-goods-info">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit ">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span>
								</p>
							</td>
							<td width="70%" align="left">
								<p class="pl20">咨询内容： 这里是我咨询的内容是打发打发撒的发生大发是的发生</p>
								<p class="pl20">回复内容： 你猜猜我是怎么回复你</p>
							</td>
						</tr>
					</table>
					<div class="tab-pages">
						<a href="#" class="tab-prev tab-btn">上一页</a>
						<a href="#" class="page-btn current">1</a>
						<a href="#" class="page-btn">2</a>
						<a href="#" class="page-btn">3</a>
						<a href="#" class="tab-next tab-btn">下一页</a>
					</div>

				</div>

			</div>
		</div>
		<!--/end-->
{include file="../application/index/view/public/footer.html" /}