{include file="../application/index/view/public/grxx_tou.html" /}
		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="{:url('geren/grxx')}" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="{:url('indent/wddd')}" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="{:url('indent/pjsd')}" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="{:url('geren/shdz')}" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="{:url('geren/wdsc')}" class="db fs16">我的收藏</a>
						</li>
						
						<li>
							<a href="{:url('geren/xgmm')}" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="{:url('fund/zhye')}" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="{:url('fund/zxcz')}" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="{:url('indent/lljl')}" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/zixun')}" class="db fs16">我的咨询</a>
						</li>
						<li class="on">
							<a href="{:url('xiaoxi/znx')}" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit clearfix">
						<h3 class="fl fs26">站内信</h3>
						<p class="fr slide-t-nav">
							<a href="__PUBLICA__/xiaoxi/znx.html" class="on fs14 radius3">收件</a>
							<a href="__PUBLICA__/xiaoxi/xiexin.html" class="fs14 radius3">写信</a>
							<a href="__PUBLICA__/xiaoxi/znx.html" class="fs14 radius3">发件</a>
						</p>
					</div>
					<table class="table_1">
						<tr>
							<th width="10%"><input type="checkbox" name="" id="" value="" /></th>
							<th width="50%">标题</th>
							<th width="15%">发件人</th>
							<th width="15%">时间</th>
							<th width="10%">操作</th>
						</tr>
						<tr>
							<td align="center"><input type="checkbox" name="" id="" value="" /></td>
							<td>
								<a href="__PUBLICA__/xiaoxi/znxdetail.html" class="znxtit">
									这里是标题内容
								</a>
							</td>
							<td align="center">
								13035059860
							</td>
							<td align="center">
								2016-12-23 10:57:08
							</td>
							<td align="center">
								<a href="#" class="znxshanchu">
									<i class="iconfont fs20"></i>
									删除
								</a>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="checkbox" name="" id="" value="" /></td>
							<td>
								<a href="__PUBLICA__/xiaoxi/znxdetail.html" class="znxtit">
									这里是标题内容
								</a>
							</td>
							<td align="center">
								13035059860
							</td>
							<td align="center">
								2016-12-23 10:57:08
							</td>
							<td align="center">
								<a href="#" class="znxshanchu">
									<i class="iconfont fs20"></i>
									删除
								</a>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="checkbox" name="" id="" value="" /></td>
							<td>
								<a href="__PUBLICA__/xiaoxi/znxdetail.html" class="znxtit">
									这里是标题内容
								</a>
							</td>
							<td align="center">
								13035059860
							</td>
							<td align="center">
								2016-12-23 10:57:08
							</td>
							<td align="center">
								<a href="#" class="znxshanchu">
									<i class="iconfont fs20"></i>
									删除
								</a>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="checkbox" name="" id="" value="" /></td>
							<td>
								<a href="__PUBLICA__/xiaoxi/znxdetail.html" class="znxtit">
									这里是标题内容
								</a>
							</td>
							<td align="center">
								13035059860
							</td>
							<td align="center">
								2016-12-23 10:57:08
							</td>
							<td align="center">
								<a href="#" class="znxshanchu">
									<i class="iconfont fs20"></i>
									删除
								</a>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="checkbox" name="" id="" value="" /></td>
							<td>
								<a href="__PUBLICA__/xiaoxi/znxdetail.html" class="znxtit">
									这里是标题内容
								</a>
							</td>
							<td align="center">
								13035059860
							</td>
							<td align="center">
								2016-12-23 10:57:08
							</td>
							<td align="center">
								<a href="#" class="znxshanchu">
									<i class="iconfont fs20"></i>
									删除
								</a>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="checkbox" name="" id="" value="" /></td>
							<td>
								<a href="__PUBLICA__/xiaoxi/znxdetail.html" class="znxtit">
									这里是标题内容
								</a>
							</td>
							<td align="center">
								13035059860
							</td>
							<td align="center">
								2016-12-23 10:57:08
							</td>
							<td align="center">
								<a href="#" class="znxshanchu">
									<i class="iconfont fs20"></i>
									删除
								</a>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="checkbox" name="" id="" value="" /></td>
							<td>
								<a href="__PUBLICA__/xiaoxi/znxdetail.html" class="znxtit">
									这里是标题内容
								</a>
							</td>
							<td align="center">
								13035059860
							</td>
							<td align="center">
								2016-12-23 10:57:08
							</td>
							<td align="center">
								<a href="#" class="znxshanchu">
									<i class="iconfont fs20"></i>
									删除
								</a>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="checkbox" name="" id="" value="" /></td>
							<td>
								<a href="__PUBLICA__/xiaoxi/znxdetail.html" class="znxtit">
									这里是标题内容
								</a>
							</td>
							<td align="center">
								13035059860
							</td>
							<td align="center">
								2016-12-23 10:57:08
							</td>
							<td align="center">
								<a href="#" class="znxshanchu">
									<i class="iconfont fs20"></i>
									删除
								</a>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="checkbox" name="" id="" value="" /></td>
							<td>
								<a href="__PUBLICA__/xiaoxi/znxdetail.html" class="znxtit">
									这里是标题内容
								</a>
							</td>
							<td align="center">
								13035059860
							</td>
							<td align="center">
								2016-12-23 10:57:08
							</td>
							<td align="center">
								<a href="#" class="znxshanchu">
									<i class="iconfont fs20"></i>
									删除
								</a>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="checkbox" name="" id="" value="" /></td>
							<td>
								<a href="__PUBLICA__/xiaoxi/znxdetail.html" class="znxtit">
									这里是标题内容
								</a>
							</td>
							<td align="center">
								13035059860
							</td>
							<td align="center">
								2016-12-23 10:57:08
							</td>
							<td align="center">
								<a href="#" class="znxshanchu">
									<i class="iconfont fs20"></i>
									删除
								</a>
							</td>
						</tr>
					</table>
					
					<div class="tab-pages">
						<a href="#" class="tab-prev tab-btn">上一页</a>
						<a href="#" class="page-btn current">1</a>
						<a href="#" class="page-btn">2</a>
						<a href="#" class="page-btn">3</a>
						<a href="#" class="tab-next tab-btn">下一页</a>
					</div>

				</div>

			</div>
		</div>
		<!--/end-->

{include file="../application/index/view/public/footer.html" /}