{include file="../application/index/view/public/grxx_tou.html" /}


		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="__PUBLICA__/geren/grxx.html" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/wddd.html" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/pjsd.html" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/shdz.html" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdsc.html" class="db fs16">我的收藏</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdgz.html" class="db fs16">我的关注</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/xgmm.html" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zhye.html" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zxcz.html" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/lljl.html" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/zixun.html" class="db fs16">我的咨询</a>
						</li>
						<li class="on">
							<a href="__PUBLICA__/xiaoxi/znx.html" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit dark-tittwo clearfix">
						<h3 class="fl fs26">站内信</h3>
					</div>
					
					<div class="znxdetail clearfix">
						<p class="tit ta-center">
							这里是站内信标题
						</p>
						<p class="time ta-center">
							2016-12-23 10:57:08
						</p>
						<div class="ctent clearfix">
							一把纸伞，带着雨的记忆，虽然只有瞬间的美丽，依然有着命运的轨迹。还记得邂逅那天的雨，淅淅沥沥落着花瓣，思念无尽的缠绕。风一般流动，雨一般缠绵，指尖还有你的温度。
							平凡的我，如同海滩上的一粒沙，侧耳聆听，我听到了太平洋的声声叹息。							
							你与我，隔着一个海洋的距离。想你时，天空下起了绵绵细雨。烟雨朦胧，我是那肆意盛开的菊，只为你绽放最后一次妖娆。只等你静静走来，低眉，温柔地把我捧在掌心，把我轻轻抚摸，然后把一滴泪，滴进我的心底。							
							人生孤独，想有那么一个人，陪着，伴着，把所有的日子，都温柔绽放。如果可以，好想就这样死在你的怀里，让幸福定格成永恒。							
							庄严佛殿，香雾缭绕，传来诵经的声音。转身回眸，看见雪花正漫天飞舞，雪中隐约看到你娉婷的身影，那是绽放在雪中的一树红梅，清绝冷艳，超凡脱俗。
						</div>
					</div>

				</div>

			</div>
		</div>
		<!--/end-->

{include file="../application/index/view/public/footer.html" /}