{include file="../application/index/view/public/grxx_tou.html" /}
		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40">
				<div class="order-detail-box white-box clearfix">
					<p class="fl icon"> <i class="iconfont">&#xe613;</i></p>
					<div class="fr order-info">
						<div class="line-bot pt20 pb20 clearfix">
							<p class="fl l-suc-info">
								<span class="full-db fs26 darkgray">订单提交成功，应付金额 <em class="orange">999.00</em> 元</span>
								<span class="full-db fs14 lh30">请您尽快完成支付，支付成功后7天内发货，否则订单会被自动取消</span>
							</p>
							<p class="fr r-suc-info tr">
								<span class="full-db fs14 lh30">订单号： 1151015193720228</span>
								<span class="full-db fs14 lh30"><a href="javascript:" class="detail-show">订单详情<i class="icon"></i></a></span>
							</p>
						</div>
						<div class="order-show pt10">
							<span class="full-db fs14 lh30 darkgray">收货地址     安徽省合肥市蜀山区拓基城市广场 230031（邮编） 孙瑾晨（收） 18056050000</span>
							<span class="full-db fs14 lh30 darkgray">商品信息     墙角数枝梅，凌寒独自开  X 1</span>
						</div>
					</div>
				</div>
				<div class="pay-order-style white-box mt20">
					<div class="title line-bot">
						<span class="fs18 darkgray ml40 pl10">选择以下支付方式付款</span>
					</div>
					<div class="pay-cont">
						<form action="">
							<div class="re_charge line-bot pb30 pt30 clearfix">
								<label class="fl fs16 darkgray pt20">账户余额支付</label>
								<a href="javascript:" class="fl check-inline ml10"><span class="fs16 orange">余额：2000.00元</span><em></em></a>
							</div>
							<div class="pay-style line-bot pb30 pt30 clearfix">
								<label class="fl fs16 darkgray">支付平台支付</label>
								<a href="javascript:" class="check-inline check_on ml10"><span><img src="__PUBLIC_INDEX__/img/cft.jpg"/></span><em></em></a>
								<a href="javascript:" class="check-inline ml10"><span><img src="__PUBLIC_INDEX__/img/zfb.jpg" /></span><em></em></a>
							</div>
							<div class="bank-check line-bot pt30 pb30 clearfix">
								<label class="fl fs16 darkgray">网银在线支付</label>
								<div class="fl bank-list clearfix">
									<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/zh.jpg"></span><em></em></a>
									<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/gh.jpg"></span><em></em></a>
									<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/jh.jpg"></span><em></em></a>
									<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/chinaback.jpg"></span><em></em></a>
									<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/yz.jpg"></span><em></em></a>
									<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/gf.jpg"></span><em></em></a>
									<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/pf.jpg"></span><em></em></a>
									<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/ms.jpg"></span><em></em></a>
									<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/bh.jpg"></span><em></em></a>
									<a href="javascript:" class="check-inline ml10 mb10"><span><img src="__PUBLIC_INDEX__/img/bank/zx.jpg"></span><em></em></a>
								</div>
							</div>
							<div class="next go-pay pt30 clearfix">
								<input type="button" class="radius3 orange-but fs20" value="立即支付">
							</div>
						</form>
					</div>

				</div>

			</div>
		</div>
		<!--/end-->
{include file="../application/index/view/public/footer.html" /}