{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="__PUBLICA__/geren/grxx.html" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/wddd.html" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/pjsd.html" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/shdz.html" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdsc.html" class="db fs16">我的收藏</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdgz.html" class="db fs16">我的关注</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/xgmm.html" class="db fs16">修改密码</a>
						</li>
						<li class="on">
							<a href="__PUBLICA__/fund/zhye.html" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zxcz.html" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/lljl.html" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/zixun.html" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/znx.html" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit">
						<h3 class="fs26">账户余额</h3></div>
					<div class="ye-show">
						<p class="fl">可用余额：<span class="fs40 orange">99.00</span>元</p>
						<p class="fl">已消费：<span class="fs40 green">0.00</span>元</p>
						<p class="fl last">
							<a href="__PUBLICA__/fund/zxcz.html" class="cz_but fs16 orange radius3">我要充值</a>
							<a href="__PUBLICA__/fund/zxtx.html" class="cz_but fs16 orange radius3">我要提现</a>
						</p>
					</div>
					<div class="ye-detail mt40">
						<div class="tit mb20"><span class="fs16 darkgray white-box">账户交易明细</span></div>
						<table class="ye-table">
							<tr>
								<th width="32%">交易时间</th>
								<th width="24%">交易类型</th>
								<th width="24%">交易金额</th>
								<th width="20%">账户余额</th>
							</tr>
							<tr>
								<td>2015-09-09 15:35:25</td>
								<td>在线充值</td>
								<td><span class="orange">+1000</span> </td>
								<td>1000</td>
							</tr>
							<tr>
								<td>2015-09-09 15:35:25</td>
								<td>购物消费</td>
								<td><span class="green">-200</span> </td>
								<td>1000</td>
							</tr>
							<tr>
								<td>2015-09-09 15:35:25</td>
								<td>在线充值</td>
								<td><span class="orange">+1000</span> </td>
								<td>1000</td>
							</tr>
							<tr>
								<td>2015-09-09 15:35:25</td>
								<td>购物消费</td>
								<td><span class="green">-500 </span></td>
								<td>1000</td>
							</tr>
							<tr>
								<td>2015-09-09 15:35:25</td>
								<td>在线充值</td>
								<td><span class="orange">+1000</span> </td>
								<td>1000</td>
							</tr>
							<tr>
								<td>2015-09-09 15:35:25</td>
								<td>购物消费</td>
								<td><span class="green">-300</span> </td>
								<td>1000</td>
							</tr>
						</table>
					</div>
				</div>

			</div>
		</div>
		<!--/end-->

{include file="../application/index/view/public/footer.html" /}