{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg clearfix">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="{:url('geren/grxx')}" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="{:url('indent/wddd')}" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="{:url('indent/pjsd')}" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="{:url('geren/shdz')}" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="{:url('geren/wdsc')}" class="db fs16">我的收藏</a>
						</li>
						
						<li>
							<a href="{:url('geren/xgmm')}" class="db fs16">修改密码</a>
						</li>
						<li class="on">
							<a href="{:url('fund/zhye')}" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="{:url('fund/zxcz')}" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="{:url('indent/lljl')}" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/zixun')}" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/znx')}" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit line-bot clearfix">
						<h3 class="fl fs26">提现</h3>
					</div>
					<div class="user-info mt50 clearfix">
						<form action="">
							<div class="fl base-info base-infotwo">
								<ul>
									<li>
										<label class="fl l-optiontwo">提现金额：</label><input type="text" class="fl ml10" placeholder="">
									</li>
									<li>
										<label class="fl l-optiontwo">开户姓名：</label><input type="text" class="fl ml10" placeholder="">
									</li>
									<li>
										<label class="fl l-optiontwo">银行卡号：</label><input type="text" class="fl ml10" placeholder="">
									</li>
									<li class="but-li pl30"><input type="button" class="green-but radius3 fs16 ml50" value="申请提现"></li>
								</ul>
							</div>
						</form>

					</div>

				</div>

			</div>
		</div>
		<!--/end-->
{include file="../application/index/view/public/footer.html" /}