<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="__STATIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__STATIC__/css/style.css"/>       
    <link rel="stylesheet" href="__STATIC__/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/font-awesome.min.css" />
    <link href="__STATIC__/Widget/icheck/icheck.css" rel="stylesheet" type="text/css" />
    <script src="__STATIC__/js/jquery-1.9.1.min.js"></script>
    <script src="__STATIC__/assets/js/bootstrap.min.js"></script>
    <title>添加产品分类</title>
  </head>
<body>
<div class="type_style">
  <div class="type_title">产品类型信息</div>
  <div class="" style="margin-left:10px; margin-top: 10px">
  <div class="" style="">
    <a href="javascript:ovid()" class="btn  btn-warning"><i class="icon-edit align-top bigger-125"></i>新增类型</a>
    <a href="{:url('Categoryxiugai')}" class="btn  btn-success"><i class="icon-ok align-top bigger-125"></i>禁用该类型</a>
    <a href="javascript:ovid()" class="btn  btn-danger"><i class="icon-trash   align-top bigger-125"></i>删除该类型</a>
  </div>


    <form action="{:url('proaction/addbrand')}" method="post" class="form form-horizontal" id="form-user-add" style="margin-top: 20px;">
      <div class="Operate_cont clearfix">
      <label class="form-label"><span class="c-red">*</span>选择分类：</label>
        <div class="formControls ">
          <select name="select" class="input-text" style="margin-left:10px; width: 170px;">
            <option value="0"></option>
            {volist name="data" id="val"}
            <option value="{$val.cgid}">{$val.level}{$val.cgname}</option>            
            {/volist}          
          </select>
          
        </div><span style="margin-left:">不选则分类默认添加主分类</span>
      </div>
      <div class="Operate_cont clearfix">
      <label class="form-label"><span class="c-red">*</span>分类名称：</label>
        <div class="formControls ">
          <input type="text" class="input-text" value="" placeholder="" id="user-name" name="product-category-name">
        </div>
        <div id="xs" style="display: none; color:red;">请输入类名</div>
      </div>
      <div class="Operate_cont clearfix">
      <label class="form-label"><span class="c-red">*</span>是否显示：</label>
        <div class="formControls ">
          <span>是：</span><input type="radio" checked name="radio" value="1">
          <span>&nbsp;&nbsp;&nbsp;</span>
          <span>否：</span><input type="radio" name="radio" value="0">
        </div>
      </div>
      <div class="" >
        <div class="" style="margin-left: 110px">
          <input class="btn btn-primary " id="submit" type="button" value="提交">
        </div>
      </div>
      <div id="succ" style="text-align: center; font-size: 40px; color:red; display:none;"> 提交成功</div>
    </form>

  </div>
</div> 
</div>
<script type="text/javascript" src="__STATIC__/Widget/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__STATIC__/Widget/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__STATIC__/assets/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/js/H-ui.js"></script> 
<script type="text/javascript" src="__STATIC__/js/H-ui.admin.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-user-add").Validform({
		tiptype:2,
		callback:function(form){
			form[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script>
</body>
</html>
<script type="text/javascript">
  $('#submit').on('click', function(){
      $.ajax({
        type:'POST',
        url:"{:url('proaction/addbrand')}",
        data:$("#form-user-add").serialize(),
        dataType:"JSON",
        success:function(data){
          console.log(data);
          switch (data) {
              case 1:
                $('#xs').css('display','block');
                break;
              case 2:
                alert('提交成功');
                break;
          }
        }
      })
    })

  $('#user-name').on('click',function() {
    $('#xs').css('display','none');
  })
</script>
