
		{//include file="http://www.hello.com/index/index_tou.html" /}
		{include file="../application/index/view/public/index_tou.html" /}
		<style type="text/css">
			#successImg{  
			    width: 58px;  
			    height: 58px;  
			    margin: 0px auto;  
			    
			    border:none;  
			}  
		</style>
		<!--navbar star-->
		<div class="navbar clearfix">
			<div class="content clearfix">
				<ul>
					<li><a href="{:url('index/index')}">首页</a></li>
					<li><a href="{:url('zhuan/special')}">专场</a></li>
					<li class="cur"><a href="{:url('store/mall')}">商城</a></li>
					<li><a href="{:url('art/artist')}">艺术家</a></li>
				</ul>
			</div>
		</div>
		<!--navbar end-->
		<!--mall star-->
		<div class="mall clearfix">
			<!--sorts star-->
			<div class="sorts clearfix">
				<div class="content clearfix">
					<div class="top clearfix box-s">
						您的位置：商城
					</div>
					<div class="listed clearfix box-s">
						<div class="list clearfix fl">
							<p class="bt fl">
								分类：
							</p>
							<div class="right clearfix fl">
								<ul>
									<li id="bx" class="cur"><a href = "{:url('store/mall',['cgid'=> 0])}">不限</a></li>
									{volist name="cdata" id="value"}
	
									<li class="">
										<a href="javascript:;" value="$value." id="dianji">
										{$value.cgname}</a>
									</li>
										
									{/volist}
								</ul>
							</div>
						</div>
					
						<div class="list clearfix fl">
							<p class="bt fl">
								价格：
							</p>
							<div class="right clearfix fl">
								<ul>
									<li class="cur">不限</li>
									<li><a href="{:url('store/mall',['jgid'=>60000])}">0-1000元</a></li>
									<li>1000-2000元</li>
									<li>2000-3000元</li>
									<li>3000-5000元</li>
									<li>500000元以上</li>
								</ul>
							</div>
						</div>						
					</div>
				</div>
			</div>
			<!--sorts end-->
			
			<!--sales star-->
			<div class="sales clearfix">
				<div class="content clearfix">
					<div class="top clearfix">
						<div class="left clearfix fl">
							<!--以下li中添加cur的时候是选中的时候-->
							<ul>
								<li id="zh" class="cur">综合排序</li>
								<li id="xl" class="xliang">销量</li>
								<li id="xp" class="xpin">新品</li>
							</ul>
						</div>
					</div>

					<div id="th" style="display: block;">
						<div id="" class="bottom clearfix">
							{volist name="data->data" id="vol"}
							
								<div class="list clearfix transition">
									<div class="tu clearfix">
										<img src="{$vol.pic_name}"/>
										<span></span>
										
										<div class="ycang clearfix">
											<samp class="opa8"></samp>
											<div class="nr clearfix">
												<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
												
												<ul>
												<li class="box-s transition" >
													<a value="{$vol.comid}"  class="input1" href="javascript:void(0)"  >收藏</a>
												</li>
												<li  class="box-s transition">
													<a value="{$vol.comid}" class="input2" href="javascript:void(0)">
													购物车
													</a>
												</li>
												</ul>
											</div>								
										</div>
									</div>
									<div class="xia clearfix box-s">
										<p class="bt over">
											{$vol.cname}
										</p>
										<div class="price clearfix">
											<span class="fl">￥{$vol.money}.00<samp>原价￥{$vol.dmoney}.00</samp></span>
											<a href="{:url('commodity/pro_detail',['cid'=>$vol.comid])}" class="goumai fr ra3 transition">立即购买</a>
										</div>
									</div>
								</div>
							
							{/volist}
						</div>
						<div class="page clearfix ta-right">
							<div>{$data->render}</div>
						</div>
					</div>
					<div id="xiao" style="display: none;">
						<div id="" class="bottom clearfix">
							{volist name="xiao->data" id="vol"}
							
								<div class="list clearfix transition">
									<div class="tu clearfix">
										<img src="{$vol.pic_name}"/>
										<span></span>
										
										<div class="ycang clearfix">
											<samp class="opa8"></samp>
											<div class="nr clearfix">
												<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
												
												<ul>
												<li class="box-s transition" >
													<a value="{$vol.comid}"  class="input1" href="javascript:void(0)"  >收藏</a>
												</li>
												<li  class="box-s transition">
													<a value="{$vol.comid}" class="input2" href="javascript:void(0)">
													购物车
													</a>
												</li>
												</ul>
											</div>								
										</div>
									</div>
									<div class="xia clearfix box-s">
										<p class="bt over">
											{$vol.cname}
										</p>
										<div class="price clearfix">
											<span class="fl">￥{$vol.money}.00<samp>原价￥{$vol.dmoney}.00</samp></span>
											<a href="{:url('commodity/pro_detail',['cid'=>$vol.comid])}" class="goumai fr ra3 transition">立即购买</a>
										</div>
									</div>
								</div>
							
							{/volist}
						</div>
						<div class="page clearfix ta-right">
							<div>{$data->render}</div>
						</div>
					</div>
					<div id="xin" style="display: none;">
						<div id="" class="bottom clearfix">
							{volist name="xin->data" id="vol"}
							
								<div class="list clearfix transition">
									<div class="tu clearfix">
										<img src="{$vol.pic_name}"/>
										<span></span>
										
										<div class="ycang clearfix">
											<samp class="opa8"></samp>
											<div class="nr clearfix">
												<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
												
												<ul>
												<li class="box-s transition" >
													<a value="{$vol.comid}"  class="input1" href="javascript:void(0)"  >收藏</a>
												</li>
												<li  class="box-s transition">
													<a value="{$vol.comid}" class="input2" href="javascript:void(0)">
													购物车
													</a>
												</li>
												</ul>
											</div>								
										</div>
									</div>
									<div class="xia clearfix box-s">
										<p class="bt over">
											{$vol.cname}
										</p>
										<div class="price clearfix">
											<span class="fl">￥{$vol.money}.00<samp>原价￥{$vol.dmoney}.00</samp></span>
											<a href="{:url('commodity/pro_detail',['cid'=>$vol.comid])}" class="goumai fr ra3 transition">立即购买</a>
										</div>
									</div>
								</div>
							
							{/volist}
						</div>
						<div class="page clearfix ta-right">
							<div>{$data->render}</div>
						</div>
					</div>

				</div>
			</div>
			<!--sales end-->
		</div>
		<!--mall end-->
		{include file="public/footer" /}
<script type="text/javascript">
			
	$('.input1').each(function () {
		$(this).on('click',function () {
			var cid = $(this).attr('value');
			var is = this;
			$.ajax({
					type:'POST',
					url:"{:url('action/storeUp')}",
					data:{'id':cid},
					dataType:"JSON",
					success:function(data){
						//console.log(data);
						switch (data) {
							case 1:
								jQuery.alertWindow("收藏成功");
								break;
							case 2:
								jQuery.alertWindow("已收藏");
								break;
							case 3:
								jQuery.alertWindow("请登录");
								break;
						}
						
					}
			})
		})
	})  

	$('.input2').each(function () {
		$(this).on('click',function () {
			var cid = $(this).attr('value');
			var is = this;
			$.ajax({
					type:'POST',
					url:"{:url('action/shopping')}",
					data:{'id':cid},
					dataType:"JSON",
					success:function(data){
						console.log(data);
						switch (data) {
							case 1:
								jQuery.alertWindow("加入购物车成功");
								break;
							case 3:
								jQuery.alertWindow("请登录");
								break;
							
						}
						
					}
			})
		})
	}) 

	$('#zh').click(function () {
		$('#xl').removeClass('cur');
		$('#xp').removeClass('cur');
		$('#zh').addClass('cur');

		$('#xin').css('display','none');
		$('#xiao').css('display','none');
		$('#th').css('display','block');		
	});

	$('#xl').click(function () {
		$('#zh').removeClass('cur');
		$('#xp').removeClass('cur');
		$('#xl').addClass('cur');


		$('#xin').css('display','none');
		$('#xiao').css('display','block');
		$('#th').css('display','none');
	});

	$('#xp').click(function () {
		$('#xl').removeClass('cur');
		$('#zh').removeClass('cur');
		$('#xp').addClass('cur');

		$('#xin').css('display','block');
		$('#xiao').css('display','none');
		$('#th').css('display','none');
	});

</script>

<script type="text/javascript">
			
	jQuery.extend({  
        alertWindow:function(e,n){var e=e,r;n===undefined?r="#00a8b7":r=n;  
        if($("body").find(".alertWindow1").length===0){  
            var i='<div class="alertWindow1" style="width: 100%;height: 100%; background:rgba(0,0,0,0.5);position: fixed; left:0px; top: 0px; z-index: 9999;"><div  style="width: 360px; height: 170px;background: #FFF;margin: 300px auto;border: 2px solid #CFCFCF;">'+'<div  style="width: inherit;height: 20px;">'+'<div class="alertWindowCloseButton1" style="float: right; width: 10px; height: 30px;margin-right:5px;font-family:\'microsoft yahei\';color:'+r+';cursor: pointer;"></div>'+"</div>"+'<div id="successImg" class="alertWindowTitle" style="margin-top:10px;text-align:center;font-family:\'Verdana, Geneva, Arial, Helvetica, sans-serif\';font-size: 18px;font-weight: normal;color: '+r+';">'+"</div>"+'<div class="alertWindowContent" style="width:360px;height: 40px;text-align:center;font-size: 18px;color: #7F7F7F;margin-top:10px;">'+e+"</div>"+"</div>"+"</div>";  
            $("body").append(i);  
            var s=$(".alertWindow1");  
            //2秒后自动关闭窗口  
            setTimeout(function(){s.hide()},1000);  
        }  
        else {$(".alertWindowContent").text(e),$(".alertWindow1").show(),setTimeout(function(){$(".alertWindow1").hide()},1000);}  
        }  
        })  
</script>
<script type="text/javascript">
		$('#dianji').each(function () {
		$(this).on('click',function () {
			var cid = $(this).attr('value');
			var is = this;
			$.ajax({
					type:'POST',
					url:"{:url('action/storeUp')}",
					data:{'id':cid},
					dataType:"JSON",
					success:function(data){
						//console.log(data);
						switch (data) {
							case 1:
								jQuery.alertWindow("收藏成功");
								break;
							case 2:
								jQuery.alertWindow("已收藏");
								break;
							case 3:
								jQuery.alertWindow("请登录");
								break;
						}
						
					}
			})
		})
	})
</script>