
		{//include file="http://www.hello.com/index/index_tou.html" /}
		{include file="../application/index/view/public/index_tou.html" /}
		
		<!--navbar star-->
		<div class="navbar clearfix">
			<div class="content clearfix">
				<ul>
					<li><a href="__PUBLICA__/index/index.html">首页</a></li>
					<li><a href="__PUBLICA__/zhuan/special.html">专场</a></li>
					<li class="cur"><a href="__PUBLICA__/store/mall.html">商城</a></li>
					<li><a href="__PUBLICA__/art/artist.html">艺术家</a></li>
				</ul>
			</div>
		</div>
		<!--navbar end-->
		<!--mall star-->
		<div class="mall clearfix">
			<!--sorts star-->
			<div class="sorts clearfix">
				<div class="content clearfix">
					<div class="top clearfix box-s">
						您的位置：商城
					</div>
					<div class="listed clearfix box-s">
						<div class="list clearfix fl">
							<p class="bt fl">
								分类：
							</p>
							<div class="right clearfix fl">
								<ul>
									<li class="cur">不限</li>
									<li class="">书画</li>
									<li class="">油画</li>
									<li class="">版画</li>
									<li class="">雕塑</li>
								</ul>
							</div>
						</div>
						<div class="list clearfix fl">
							<p class="bt fl">
								尺寸：
							</p>
							<div class="right clearfix fl">
								<ul>
									<li class="cur">不限</li>
									<li>小于50cm</li>
									<li>500-100cm</li>
									<li>大于150cm</li>
								</ul>
							</div>
						</div>
						<div class="list clearfix fl">
							<p class="bt fl">
								价格：
							</p>
							<div class="right clearfix fl">
								<ul>
									<li class="cur">不限</li>
									<li>0-1000元</li>
									<li>1000-2000元</li>
									<li>2000-3000元</li>
									<li>3000-5000元</li>
									<li>5000元以上</li>
								</ul>
							</div>
						</div>						
					</div>
				</div>
			</div>
			<!--sorts end-->
			
			<!--sales star-->
			<div class="sales clearfix">
				<div class="content clearfix">
					<div class="top clearfix">
						<div class="left clearfix fl">
							<!--以下li中添加cur的时候是选中的时候-->
							<ul>
								<li>综合排序</li>
								<li class="xliang cur">销量</li>
								<li class="xpin">新品</li>
							</ul>
						</div>
					</div>
					<div class="bottom clearfix">
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
						<div class="list clearfix transition">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/2.jpg"/>
								<span></span>
								
								<div class="ycang clearfix">
									<samp class="opa8"></samp>
									<div class="nr clearfix">
										<!--注意：当下方li中添加class名为cur的时候为选中的时候样式-->
										<ul>
											<li class="box-s transition">收藏</li>
											<li class="box-s transition">购物车</li>
										</ul>
									</div>								
								</div>
							</div>
							<div class="xia clearfix box-s">
								<p class="bt over">
									尹毅画作
								</p>
								<div class="price clearfix">
									<span class="fl">￥1000.00<samp>原价￥2000.00</samp></span>
									<a href="__PUBLICA__/commodity/pro_detail.html" class="goumai fr ra3 transition">立即购买</a>
								</div>
							</div>
						</div>
					</div>
					<div class="page clearfix ta-right">
						<a href="#" class="pre box-s">上一页</a>
						<a href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<span>...</span>
						<a href="#" class="next box-s">下一页</a>
						<span class="ml10">到第</span>
						<input type="" name="" id="" value="" />
						<span>页</span>
						<input type="submit" name="" id="" value="确定" />
					</div>
				</div>
			</div>
			<!--sales end-->
		</div>
		<!--mall end-->
		{include file="../application/index/view/public/footer.html" /}
		