{include file="../application/index/view/public/grxx_tou.html" /}
		

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper">
				<div class="shopping-list pt40 pb40">
					<table class="table_1 table_shopping white-box">
						<tr>
							<th width="40%">商品</th>
							<th width="18%">单价(元)</th>
							<th width="14%">数量</th>
							<th width="14%">小计(元)</th>
							<th width="14%">操作</th>
						</tr>
						<tr>
							<td>

								<p class="o-goods-info ml20 clearfix pt10 pb10">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit mt5 ml10">互点农场五常大米 长粒香 御品国珍五常香米 5KG</span>
								</p>
							</td>
							<td>29.90</td>
							<td>
								<p class="count clearfix">
									<a href="javascript:" class="fl fs30 reduction">-</a>
									<input type="text" value="" class="fl fs16" placeholder="1">
									<a href="javascript:" class="fl fs30 add">+</a>
								</p>
							</td>
							<td><span class="orange">29.90</span></td>
							<td>
								<a href="#"><i class="iconfont fs26">&#xe60b;</i></a>
							</td>
						</tr>
						<tr>
							<td>

								<p class="o-goods-info ml20 clearfix pt10 pb10">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit mt5 ml10">互点农场五常大米 长粒香 御品国珍五常香米 5KG</span>
								</p>
							</td>
							<td>29.90</td>
							<td>
								<p class="count clearfix">
									<a href="javascript:" class="fl fs30 reduction">-</a>
									<input type="text" value="" class="fl fs16" placeholder="1">
									<a href="javascript:" class="fl fs30 add">+</a>
								</p>
							</td>
							<td><span class="orange">29.90</span></td>
							<td>
								<a href="#"><i class="iconfont fs26">&#xe60b;</i></a>
							</td>
						</tr>
					</table>
					<div class="shopping-result white-box mt20 clearfix">
						<a href="#" class="fl fs16 pl10">继续购物>></a>
						<p class="fr">
							<a href="jiesuan.html" class="fr orange-but fs20">去结算</a>
							<span class="fr pr20 fs14">总计：<em class="orange fs24">¥29.90</em></span>
						</p>
					</div>

				</div>
			</div>
		</div>
		<!--/end-->

{include file="../application/index/view/public/footer.html" /}