{include file="public/grxx_tou" /}

<link rel="stylesheet" type="text/css" href="__STATIC__/css/page.css" />
<style type="text/css">
	#successImg{  
	    width: 58px;  
	    height: 58px;  
	    margin: 0px auto;  
	    
	    border:none;  
	}  
</style>

		<!--Main-wrap-->
		<div class="main-wrap graybgtwo pt40 pb40">
			<div class="wrapper">
				<!--Main-pro-info-->
				<div class="main-pro-info white-box  clearfix">
					<div class="fangda clearfix fl">
						<div id="showbox">
							{volist name="picData" id="vol"}
						  		<img src="{$vol.pic_name}" width="1000" height="1000" />
							{/volist}
						 
						</div><!--展示图片盒子-->
						<div id="showsum"></div><!--展示图片里边-->
						<p class="showpage">
						  <a href="javascript:void(0);" id="showlast"> < </a>
						  <a href="javascript:void(0);" id="shownext"> > </a>
						</p>
						
						</div>
					<!--产品信息介绍-->
					<div class="fr pro-intro">
						<div class="pb20 line-bot">
							<h3 class="fs26 darkblack lh50 ellipsis">{$comdata[0]['name']}</h3>
							<p class="fs14 lh20 over2">{$comdata[0]['introduce']}</p>
							<p class="price pt10 clearfix"><strong class="fl red fs40">¥{$comdata[0]['money']}.00</strong><em class="fl white ml20 lh20 mt20">已售：2000件</em></p>
						</div>
						<div class="pro-ctent clearfix">
							<ul>
								<li><span>艺 术 家 ：</span>{$comdata[0]['writer']}</li>
								<li><span>尺      寸 ：</span>50×50cm</li>
								<li><span>价      格 ：</span>￥{$comdata[0]['money']}.00-￥{$comdata[0]['dmoney']}.00</li>
								<li><span>材      质 ：</span>纸本设色</li>
								<li><span>年      代 ：</span>{$comdata[0]['year']}</li>
								<li><span>数      量 ：</span>{$comdata[0]['num']}</li>
							</ul>
						</div>
						<form action="{:url('fund/jiesuan')}" id="che" method="post">
							<input type="hidden" name="comid" value="{$comdata[0]['id']}">
							<div class="pt10">
								<div class="p-count fs14 mt20 clearfix">
									<label class="fl lh40 darkblack">数量：</label>
									<p class="fl count ml10 clearfix">
										<a id="sub" href="javascript:" class="fl fs30 reduction">-</a>
										<input id="bookNum" type="text" name="number" value="1" class="fl fs16" placeholder="0">
										<a id="add" href="javascript:" class="fl fs30 add">+</a>
									</p>
								</div>
								<div class="but-box mt30">
									<button type="submit" class="fl orange-but radius3" value="">立即购买</button>
									<button type="button" id="gouwu" class="fl ml20 orange-but  radius3" value="">加入购物车</button>
								</div>
							</div>
						</form>
					</div>
					<!--/end-->
				</div>
				<!--/end-->
				<!--proscroll-->
				<div class="proscroll white-box mt20">
					<a class="prev" href="javascript:void(0)"></a>
					<div class="scrollWrap">
						<ul class="prolist clearfix">
							{volist name="classCom" id="classvol"}
							<li>
								<a href="{:url('commodity/pro_detail',['cid'=>$classvol.comid])}" class="db pic"><span><img src="{$classvol.pic_name}" alt=""/></span></a>
								<a href="#" class="full-db tit darkblack ellipsis">{$classvol.cname}</a>
								<strong class="full-db red"><em class="fs12">¥</em>{$classvol.money}.00</strong>
							</li>
							{/volist}
						</ul>

					</div>
					<a class="next" href="javascript:void(0)"></a>
				</div>
				<!--/end-->

				<div class="mt20 clearfix">
					<div class="fl pro-likes white-box">
						<div class="title"><strong class="fs16 white">大家都喜欢</strong></div>
						<ul class="likelist">
							{volist name="like" id="lkvol"}
							<li>
								<a href="{:url('commodity/pro_detail',['cid'=>$lkvol.comid])}" class="db pic"><span><img src="{$lkvol.pic_name}" alt=""/></span></a>
								<a href="#" class="full-db tit darkblack ellipsis">{$lkvol.cname}</a>
								<strong class="full-db red"><em class="fs12">¥</em>{$lkvol.money}.00</strong>
							</li>
							{/volist}
							
						</ul>
					</div>
					
					<div class="pro-detail fr box-s">
						<div class="tab-hd box-s">
								<ul class="tab-nav clearfix">
								  <li class="fs16 box-s">商品详情</li>
								  <li class="fs16 box-s">商品咨询</li>
								</ul>
						</div>
						<div class="tab-bd">
							<div class="tab-pal">
								{volist name="picData" id="vol"}
								<p style=""><img style="width:600px; margin:15px auto;" src="{$vol.pic_name}" alt="" /></p>
								{/volist}
							</div>
							<div class="tab-pal">
								<div class="pro-zixun clearfix">
									<p class="bt">我要咨询：</p>
									<textarea name="" rows="5" cols="" placeholder="请输入要咨询内容"></textarea>
									<p class="tijiao"><a href="#" class="ra3">提交</a></p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
		<!--/end-->
		{include file="../application/index/view/public/footer.html" /}
		<script type="text/javascript">
		/*	function mai()
			{
				$.ajax({
				type:'POST',
				url:"{:url('mai')}",
				data:"",
				success:function(data){
						console.log(data);
						switch (data) {
							case 3:
								alert('请先登录');
								break;
							case 4:
								alert('商家无购物权限,请使用普通账户');
								break;
							default:
								window.location.href="{:url('fund/jiesuan')}";
							break;
						}
					}
				})	
			}*/

			$("#bookNum").keypress(function(b) {
		        var keyCode = b.keyCode ? b.keyCode : b.charCode;
		        if (keyCode != 0 && (keyCode < 48 || keyCode > 57) && keyCode != 8 && keyCode != 37 && keyCode != 39) {
		            return false;
		        } else {
		            return true;
		        }
		    }).keyup(function(e) {
		        var keyCode = e.keyCode ? e.keyCode : e.charCode;
		        console.log(keyCode);
		        if (keyCode != 8) {
		            var numVal = parseInt($("#bookNum").val()) || 0;
		            numVal = numVal < 1 ? 1 : numVal;
		            $("#bookNum").val(numVal);
		        }
		    }).blur(function() {
		        var numVal = parseInt($("#bookNum").val()) || 0;
		        numVal = numVal < 1 ? 1 : numVal;
		        $("#bookNum").val(numVal);
		    });

		    $("#add").click(function() {
			   
			    if ($("#bookNum").val()>={$comdata[0]['num']}) {
			    	$("#bookNum").val() = {$comdata[0]['num']};
			    }else {
			    	var num = parseInt($("#bookNum").val()) || 0;
			    	$("#bookNum").val(num + 1);
			    }
			    
			});

			//减去
			$("#sub").click(function() {
			    var num = parseInt($("#bookNum").val()) || 0;
			    num = num - 1;
			    num = num < 1 ? 1 : num;
			    $("#bookNum").val(num);
			});
</script>

<script type="text/javascript">
	$('#gouwu').on('click', function(){
			$.ajax({
				type:'POST',
				url:"{:url('action/shoppings')}",
				data:$("#che").serialize(),
				dataType:"JSON",
				success:function(data){
					console.log(data);
					switch (data) {
						case 1:
							jQuery.alertWindow("加入购物车成功");
							break;
						case 3:
							jQuery.alertWindow("请登录");
							break;
						case 4:
							jQuery.alertWindow("商品库存不足");
							break;
					}
				}
			})

		})

		jQuery.extend({  
        alertWindow:function(e,n){var e=e,r;n===undefined?r="#00a8b7":r=n;  
        if($("body").find(".alertWindow1").length===0){  
            var i='<div class="alertWindow1" style="width: 100%;height: 100%; background:rgba(0,0,0,0.5);position: fixed; left:0px; top: 0px; z-index: 9999;"><div  style="width: 360px; height: 170px;background: #FFF;margin: 300px auto;border: 2px solid #CFCFCF;">'+'<div  style="width: inherit;height: 20px;">'+'<div class="alertWindowCloseButton1" style="float: right; width: 10px; height: 30px;margin-right:5px;font-family:\'microsoft yahei\';color:'+r+';cursor: pointer;"></div>'+"</div>"+'<div id="successImg" class="alertWindowTitle" style="margin-top:10px;text-align:center;font-family:\'Verdana, Geneva, Arial, Helvetica, sans-serif\';font-size: 18px;font-weight: normal;color: '+r+';">'+"</div>"+'<div class="alertWindowContent" style="width:360px;height: 40px;text-align:center;font-size: 18px;color: #7F7F7F;margin-top:10px;">'+e+"</div>"+"</div>"+"</div>";  
            $("body").append(i);  
            var s=$(".alertWindow1");  
            //2秒后自动关闭窗口  
            setTimeout(function(){s.hide()},1000);  
        }  
        else {$(".alertWindowContent").text(e),$(".alertWindow1").show(),setTimeout(function(){$(".alertWindow1").hide()},1000);}  
        }  
        })  
</script>