{include file="../application/index/view/public/grxx_tou.html" /}
		<!--Main-wrap-->
		<div class="main-wrap graybgtwo pt40 pb40">
			<div class="wrapper">
				<!--Main-pro-info-->
				<div class="main-pro-info white-box  clearfix">
					<div class="fangda clearfix fl">
						<div id="showbox">
						  <img src="__PUBLIC_INDEX__/upload/14.jpg" width="1000" height="1000" />
						  <img src="__PUBLIC_INDEX__/upload/14.jpg" width="1000" height="1000" />
						  <img src="__PUBLIC_INDEX__/upload/14.jpg" width="1000" height="1000" />
						  <img src="__PUBLIC_INDEX__/upload/14.jpg" width="1000" height="1000" />
						  <img src="__PUBLIC_INDEX__/upload/14.jpg" width="1000" height="1000" />
						  <img src="__PUBLIC_INDEX__/upload/14.jpg" width="1000" height="1000" />
						  <img src="__PUBLIC_INDEX__/upload/14.jpg" width="1000" height="1000" />
						</div><!--展示图片盒子-->
						<div id="showsum"></div><!--展示图片里边-->
						<p class="showpage">
						  <a href="javascript:void(0);" id="showlast"> < </a>
						  <a href="javascript:void(0);" id="shownext"> > </a>
						</p>
						
						</div>
					<!--产品信息介绍-->
					<div class="fr pro-intro">
						<div class="pb20 line-bot">
							<h3 class="fs26 darkblack lh50 ellipsis">墙角数枝梅，凌寒独自开</h3>
							<p class="fs14 lh20 over2">这里是简介这幅画的内容这里是简介这幅画的内容这里是简介这幅画的内容这里是简介这幅画的内容这里是简介这幅画的内容</p>
							<p class="price pt10 clearfix"><strong class="fl red fs40">¥1000</strong><em class="fl white ml20 lh20 mt20">已售：2000件</em></p>
						</div>
						<div class="pro-ctent clearfix">
							<ul>
								<li><span>艺 术 家 ：</span>张文标</li>
								<li><span>尺      寸 ：</span>50×50cm</li>
								<li><span>价      格 ：</span>2000-3000</li>
								<li><span>材      质 ：</span>纸本设色</li>
								<li><span>年      代 ：</span>2015年</li>
							</ul>
						</div>
						<div class="pt10">
							<div class="p-count fs14 mt20 clearfix">
								<label class="fl lh40 darkblack">数量：</label>
								<p class="fl count ml10 clearfix">
									<a href="javascript:" class="fl fs30 reduction">-</a>
									<input type="text" value="" class="fl fs16" placeholder="1">
									<a href="javascript:" class="fl fs30 add">+</a>
								</p>
							</div>
							<div class="but-box mt30">
								<input type="button" class="fl orange-but radius3" onclick="mai()" value="立即购买">
								<input type="button" class="fl ml20 orange-but gray-but radius3" value="加入购物车">
							</div>
						</div>
					</div>
					<!--/end-->
				</div>
				<!--/end-->
				<!--proscroll-->
				<div class="proscroll white-box mt20">
					<a class="prev" href="javascript:void(0)"></a>
					<div class="scrollWrap">
						<ul class="prolist clearfix">
							<li>
								<a href="#" class="db pic"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="full-db tit darkblack ellipsis">墙角数枝梅</a>
								<strong class="full-db red"><em class="fs12">¥</em>65.00</strong>
							</li>
							<li>
								<a href="#" class="db pic"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="full-db tit darkblack ellipsis">墙角数枝梅</a>
								<strong class="full-db red"><em class="fs12">¥</em>65.00</strong>
							</li>
							<li>
								<a href="#" class="db pic"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="full-db tit darkblack ellipsis">墙角数枝梅</a>
								<strong class="full-db red"><em class="fs12">¥</em>65.00</strong>
							</li>
							<li>
								<a href="#" class="db pic"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="full-db tit darkblack ellipsis">墙角数枝梅</a>
								<strong class="full-db red"><em class="fs12">¥</em>65.00</strong>
							</li>
							<li>
								<a href="#" class="db pic"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="full-db tit darkblack ellipsis">墙角数枝梅</a>
								<strong class="full-db red"><em class="fs12">¥</em>65.00</strong>
							</li>
						</ul>

					</div>
					<a class="next" href="javascript:void(0)"></a>
				</div>
				<!--/end-->

				<div class="mt20 clearfix">
					<div class="fl pro-likes white-box">
						<div class="title"><strong class="fs16 white">大家都喜欢</strong></div>
						<ul class="likelist">
							<li>
								<a href="#" class="db pic"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="full-db tit darkblack ellipsis">墙角数枝梅</a>
								<strong class="full-db red"><em class="fs12">¥</em>65.00</strong>
							</li>
							<li>
								<a href="#" class="db pic"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="full-db tit darkblack ellipsis">墙角数枝梅</a>
								<strong class="full-db red"><em class="fs12">¥</em>65.00</strong>
							</li>
							<li>
								<a href="#" class="db pic"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="full-db tit darkblack ellipsis">墙角数枝梅</a>
								<strong class="full-db red"><em class="fs12">¥</em>65.00</strong>
							</li>

						</ul>
					</div>
					
					<div class="pro-detail fr box-s">
						<div class="tab-hd box-s">
								<ul class="tab-nav clearfix">
								  <li class="fs16 box-s">商品详情</li>
								  <li class="fs16 box-s">商品咨询</li>
								</ul>
						</div>
						<div class="tab-bd">
							<div class="tab-pal">
								<p><img src="__PUBLIC_INDEX__/upload/zuopin.jpg" alt="" /></p>
							</div>
							<div class="tab-pal">
								<div class="pro-zixun clearfix">
									<p class="bt">我要咨询：</p>
									<textarea name="" rows="5" cols="" placeholder="请输入要咨询内容"></textarea>
									<p class="tijiao"><a href="#" class="ra3">提交</a></p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
		<!--/end-->
		{include file="../application/index/view/public/footer.html" /}
		<script type="text/javascript">
			function mai()
			{
				$.ajax({
				type:'POST',
				url:"{:url('mai')}",
				data:"",
				success:function(data){
					console.log(data);
					switch (data) {
						case 3:
							alert('请先登录');
							break;
						case 4:
							alert('商家无购物权限,请使用普通账户');
							break;
						default:
							window.location.href='__PUBLICA__/fund/jiesuan.html';
						break;
					}
				}
			})
				
			}
		</script>