{include file="../application/index/view/public/index_tou.html" /}
		
		<div class="navbar clearfix">
			<div class="content clearfix">
				<ul>
					<li><a href="__PUBLICA__/index/index.html">首页</a></li>
					<li><a href="__PUBLICA__/zhuan/special.html">专场</a></li>
					<li><a href="__PUBLICA__/store/mall.html">商城</a></li>
					<li class="cur"><a href="__PUBLICA__/art/artist.html">艺术家</a></li>
				</ul>
			</div>
		</div>
		<!--navbar end-->
		
		<!--mall star-->
		<div class="mall clearfix">
			<!--sorts star-->
			<div class="sorts clearfix">
				<div class="content clearfix">
					<div class="top clearfix box-s">
						您的位置：<a href="artist.html">艺术家</a>&nbsp;&gt;&nbsp;孙瑾晨
					</div>					
				</div>
			</div>
			<!--sorts end-->
			
			<!--artist-detail star-->
			<div class="adetail clearfix">
				<div class="adetails clearfix box-s">
					<div class="top clearfix">
						<div class="left clearfix fl box-s">
							<div class="tu clearfix">
								<img src="__PUBLIC_INDEX__/upload/8.jpg"/>
								<span></span>
							</div>
							<div class="xia clearfix">
								<ul>
									<li class="box-s">
										<p>600</p>
										<span>访问量</span>
									</li>
									<li class="box-s">
										<p>100</p>
										<span>作品</span>
									</li>
									<li class="last box-s">
										<p>600</p>
										<span>粉丝</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="right clearfix fr">
							<div class="shang clearfix">
								<span class="fl">孙瑾晨</span>
								<a href="#" class="fr ra3 transition">关注+</a>
								<!--下面注释内容为已关注状态样式-->
								<!--<a href="#" class="fr ra3 transition cur">取消关注</a>-->
							</div>
							<div class="ctentheight clearfix" id="main2">	
								<span class="more-button">展开</span>
								<div class="zhong clearfix">
									<p>基本信息：</p>
									<ul>
										<li>中国 江苏省</li>
										<li>南京师范大学美术系</li>
										<li>1962年出生于上海</li>
										<li>1990年毕业于南京师范大学美术系</li>
										<li>现生活、工作于上海及北京</li>
									</ul>
								</div>
								<div class="zhong clearfix">
									<p>个人展览：</p>
									<ul>
										<li>2012金锋个展：“点石斋”丨天仁合艺艺术中心丨杭州</li>
										<li>2011“上海艺术博览会国际当代艺术展”丨上海展览中心展厅丨艺术通道丨上海</li>
										<li>2011“修辞”丨艺术通道丨北京</li>
										<li>2008“问题现场-金锋个案”丨上海证大现代艺术馆</li>
										<li>2007“金锋个展-骂艺术”丨比翼艺术中心丨上海</li>
										<li>2006“金锋个展”丨2577创艺大院丨上海</li>
										<li>2003“金锋作品展”丨汉雅轩丨香港</li>
										<li>2002“金锋个人作品展”丨莫斯科艺术中心丨莫斯科</li>
									</ul>
								</div>
								<div class="zhong clearfix zhonglast">
									<p>群体展览：</p>
									<ul>
										<li>2012金锋个展：“点石斋”丨天仁合艺艺术中心丨杭州</li>
										<li>2011“上海艺术博览会国际当代艺术展”丨上海展览中心展厅丨艺术通道丨上海</li>
										<li>2011“修辞”丨艺术通道丨北京</li>
										<li>2008“问题现场-金锋个案”丨上海证大现代艺术馆</li>
										<li>2007“金锋个展-骂艺术”丨比翼艺术中心丨上海</li>
										<li>2006“金锋个展”丨2577创艺大院丨上海</li>
										<li>2003“金锋作品展”丨汉雅轩丨香港</li>
										<li>2002“金锋个人作品展”丨莫斯科艺术中心丨莫斯科</li>
										<li>2012金锋个展：“点石斋”丨天仁合艺艺术中心丨杭州</li>
										<li>2011“上海艺术博览会国际当代艺术展”丨上海展览中心展厅丨艺术通道丨上海</li>
										<li>2011“修辞”丨艺术通道丨北京</li>
										<li>2008“问题现场-金锋个案”丨上海证大现代艺术馆</li>
										<li>2007“金锋个展-骂艺术”丨比翼艺术中心丨上海</li>
										<li>2006“金锋个展”丨2577创艺大院丨上海</li>
										<li>2003“金锋作品展”丨汉雅轩丨香港</li>
										<li>2002“金锋个人作品展”丨莫斯科艺术中心丨莫斯科</li>
										<li>2012金锋个展：“点石斋”丨天仁合艺艺术中心丨杭州</li>
										<li>2011“上海艺术博览会国际当代艺术展”丨上海展览中心展厅丨艺术通道丨上海</li>
										<li>2011“修辞”丨艺术通道丨北京</li>
										<li>2008“问题现场-金锋个案”丨上海证大现代艺术馆</li>
										<li>2007“金锋个展-骂艺术”丨比翼艺术中心丨上海</li>
										<li>2006“金锋个展”丨2577创艺大院丨上海</li>
										<li>2003“金锋作品展”丨汉雅轩丨香港</li>
										<li>2002“金锋个人作品展”丨莫斯科艺术中心丨莫斯科</li>
									</ul>
								</div>
							</div>							
						</div>
					</div>
					<div class="bottom clearfix box-s">
						<div class="shang clearfix box-s">
							<span>相关作品</span>
						</div>
						<div class="xia clearfix">
							<div class="list clearfix box-s fl">
								<a href="__PUBLICA__/commodity/pro_detail.html">
									<div class="main_img">
										<em></em>
										<img src="__PUBLIC_INDEX__/upload/9.jpg">
										<div class="show" title="梅花三弄梅花三弄">
											<span class="imgArea">
												<samp title="梅花三弄梅花三弄" class="over">梅花三弄梅花三弄</samp>
											</span>
										</div>
									</div>
								</a>
							</div>
							<div class="list clearfix box-s fl">
								<a href="__PUBLICA__/commodity/pro_detail.html">
									<div class="main_img">
										<em></em>
										<img src="__PUBLIC_INDEX__/upload/9.jpg">
										<div class="show" title="梅花三弄梅花三弄">
											<span class="imgArea">
												<samp title="梅花三弄梅花三弄" class="over">梅花三弄梅花三弄</samp>
											</span>
										</div>
									</div>
								</a>
							</div>
							<div class="list clearfix box-s fl">
								<a href="__PUBLICA__/commodity/pro_detail.html">
									<div class="main_img">
										<em></em>
										<img src="__PUBLIC_INDEX__/upload/9.jpg">
										<div class="show" title="梅花三弄梅花三弄">
											<span class="imgArea">
												<samp title="梅花三弄梅花三弄" class="over">梅花三弄梅花三弄梅花三弄梅花三弄</samp>
											</span>
										</div>
									</div>
								</a>
							</div>
							<div class="list clearfix box-s fl">
								<a href="__PUBLICA__/commodity/pro_detail.html">
									<div class="main_img">
										<em></em>
										<img src="__PUBLIC_INDEX__/upload/9.jpg">
										<div class="show" title="梅花三弄梅花三弄">
											<span class="imgArea">
												<samp title="梅花三弄梅花三弄" class="over">梅花三弄梅花三弄</samp>
											</span>
										</div>
									</div>
								</a>
							</div>
							<div class="list clearfix box-s fl">
								<a href="__PUBLICA__/commodity/pro_detail.html">
									<div class="main_img">
										<em></em>
										<img src="__PUBLIC_INDEX__/upload/9.jpg">
										<div class="show" title="梅花三弄梅花三弄">
											<span class="imgArea">
												<samp title="梅花三弄梅花三弄" class="over">梅花三弄梅花三弄</samp>
											</span>
										</div>
									</div>
								</a>
							</div>
							<div class="list clearfix box-s fl">
								<a href="__PUBLICA__/commodity/pro_detail.html">
									<div class="main_img">
										<em></em>
										<img src="__PUBLIC_INDEX__/upload/9.jpg">
										<div class="show" title="梅花三弄梅花三弄">
											<span class="imgArea">
												<samp title="梅花三弄梅花三弄" class="over">梅花三弄梅花三弄</samp>
											</span>
										</div>
									</div>
								</a>
							</div>
							<div class="list clearfix box-s fl">
								<a href="__PUBLICA__/commodity/pro_detail.html">
									<div class="main_img">
										<em></em>
										<img src="__PUBLIC_INDEX__/upload/9.jpg">
										<div class="show" title="梅花三弄梅花三弄">
											<span class="imgArea">
												<samp title="梅花三弄梅花三弄" class="over">梅花三弄梅花三弄</samp>
											</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--artist-detail end-->
			
		</div>
		<!--mall end-->
		
{include file="../application/index/view/public/footer.html" /}
<script type="text/javascript">
		$(document).ready(function(){
			var data = '0';
			$('.more-button').click(function(){
				
				if(data == 0){
					$('.ctentheight').height('auto');
					$('.more-button').html('折叠');
					data = 1;
					return false;
				}
				if(data == 1){
					$('.ctentheight').height('490px');
					$('.more-button').html('展开');
					data = 0;
					return false;
				}
				
		
			})
		})
		$('.more-button').click(function(){
			$(this).toggleClass('more-buttontwo')
		});
	</script>