{include file="../application/index/view/public/index_tou.html" /}
		
		<!--navbar star-->
		<div class="navbar clearfix">
			<div class="content clearfix">
				<ul>
					<li><a href="__PUBLICA__/index/index.html">首页</a></li>
					<li><a href="__PUBLICA__/zhuan/special.html">专场</a></li>
					<li><a href="__PUBLICA__/store/mall.html">商城</a></li>
					<li class="cur"><a href="__PUBLICA__/art/artist.html">艺术家</a></li>
				</ul>
			</div>
		</div>
		<!--navbar end-->
		
		<!--settled star-->
		<div class="homepage clearfix">
			<div class="content clearfix">
				<div class="media-right clearfix box-s">
					<div class="top clearfix">
						<samp class="line db"></samp>
						<samp class="curline db" style="width: 50%;"></samp>
						<ul>
							<li class="fl">
								<div class="shu cur clearfix box-s">
									<span class="cur">
										1
									</span>
								</div>
								<p class="cur">注册账号</p>
							</li>
							<li class="fl">
								<div class="shu cur clearfix box-s">
									<span class="cur">
										2
									</span>
								</div>
								<p class="cur">完善资料</p>
							</li>
							<li class="fl">
								<div class="shu clearfix box-s">
									<span>
										3
									</span>
								</div>
								<p>注册成功</p>
							</li>
						</ul>
					</div>
					<div class="media-bottom clearfix">
						<div class="meida-bd clearfix">							
							<div class="list">
								<ul>
									<li class="kuan">
										<p class="bt fl">真实姓名：</p>
										<input type="text" class="fl" name="" id="" value="">
									</li>
									<li class="kuan">
										<p class="bt fl">手机号码：</p>
										<input type="text" class="fl" name="" id="" value="">
									</li>
									<li class="kuan">
										<p class="bt fl">邮箱地址：</p>
										<input type="text" class="fl" name="" id="" value="">
									</li>
									<li class="kuan">
										<p class="bt fl">联系电话：</p>
										<input type="text" class="fl" name="" id="" value="">
									</li>
									<li class="kuan">
										<p class="bt fl">所在地区：</p>
										<div class="select_box"><div class="select_showbox" style="cursor: pointer;">请选择角色</div><ul class="select_option"><li class="selected">请选择角色</li><li>宋江</li><li>鲁智深</li><li>武松</li><li>林冲</li></ul></div><select name="classid" id="choose" class="selecttwo fl">
											<option value="0">请选择地区</option>
											<option value="0">安徽省</option>
											<option value="1">江西省</option>
										</select>
										<div class="select_box"><div class="select_showbox" style="cursor: pointer;">请选择角色</div><ul class="select_option"><li class="selected">请选择角色</li><li>宋江</li><li>鲁智深</li><li>武松</li><li>林冲</li></ul></div><select name="classid" id="choose" class="selecttwo fl">
											<option value="0">请选择地区</option>
											<option value="0">安庆市</option>
											<option value="1">合肥市</option>
										</select>
										<div class="select_box"><div class="select_showbox" style="cursor: pointer;">请选择角色</div><ul class="select_option"><li class="selected">请选择角色</li><li>宋江</li><li>鲁智深</li><li>武松</li><li>林冲</li></ul></div><select name="classid" id="choose" class="selecttwo fl">
											<option value="0">请选择地区</option>
											<option value="0">高新区</option>
											<option value="1">蜀山区</option>
										</select>
									</li>
									<li class="kuan">
										<p class="bt fl">毕业院校：</p>
										<input type="text" class="fl" name="" id="" value="">
									</li>
									<li class="kuan">
										<p class="bt fl">类型：</p>
										<div class="fl clearfix xuanze">
											<input type="checkbox" name="check" id="check" value="" class="fl"/>
											<span class="fl">国画</span>
										</div>
										<div class="fl clearfix xuanze">
											<input type="checkbox" name="check" id="check" value="" class="fl"/>
											<span class="fl">书法</span>
										</div>
										<div class="fl clearfix xuanze">
											<input type="checkbox" name="check" id="check" value="" class="fl"/>
											<span class="fl">油画</span>
										</div>
										<div class="fl clearfix xuanze">
											<input type="checkbox" name="check" id="check" value="" class="fl"/>
											<span class="fl">雕塑</span>
										</div>
										<div class="fl clearfix xuanze">
											<input type="checkbox" name="check" id="check" value="" class="fl"/>
											<span class="fl">版画</span>
										</div>
										<div class="fl clearfix xuanze">
											<input type="checkbox" name="check" id="check" value="" class="fl"/>
											<span class="fl">水彩粉画</span>
										</div>
										<div class="fl clearfix xuanze">
											<input type="checkbox" name="check" id="check" value="" class="fl"/>
											<span class="fl">其他</span>
										</div>
									</li>
									<li class="kuan">
										<p class="bt fl">个人头像：</p>
										<div class="tu clearfix fl">
											<img src="__PUBLIC_INDEX__/img/tu.png">
											<span></span>
										</div>
										<input type="button" value="上传" class="fl">
									</li>
									<li class="kuan">
										<p class="bt fl">个人简介：</p>
										<textarea name="" rows="5" cols="" class="box-s"></textarea>
									</li>
									<li class="kuan">
										<p class="bt fl"></p>
										<a href="__PUBLICA__/art/zuihou.html" class="btn db fl ra3">保存提交</a>
									</li>
								</ul>
							</div>			
						</div>
					</div>					
				</div>
			</div>
		</div>
		<!--settled end-->		
		
{include file="../application/index/view/public/footer.html" /}