{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="{:url('geren/grxx')}" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="{:url('indent/wddd')}" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="{:url('indent/pjsd')}" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="{:url('geren/shdz')}" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="{:url('geren/wdsc')}" class="db fs16">我的收藏</a>
						</li>
						<li>
							<a href="{:url('geren/wdgz')}" class="db fs16">我的关注</a>
						</li>
						<li>
							<a href="{:url('geren/xgmm')}" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="{:url('fund/zhye')}" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="{:url('fund/zxcz')}" class="db fs16">在线充值</a>
						</li>
						<li class="on">
							<a href="{:url('indent/lljl')}" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/zixun')}" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/znx')}" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit clearfix">
						<h3 class="fl fs26">退货记录</h3>
						<p class="fr slide-t-nav">
							<a href="#" class="on fs14 radius3">全部</a>
							<a href="#" class="fs14 radius3">已审批</a>
							<a href="#" class="fs14 radius3">未审批</a>
							<a href="#" class="fs14 radius3">未通过</a>
						</p>
					</div>
					<table class="table_1">
						<tr>
							<th width="30%">商品信息</th>
							<th width="16%">单价（元）</th>
							<th width="15%">数量</th>
							<th width="15%">收货人</th>
							<th width="24%" rowspan="2">订单状态</th>
						</tr>
					</table>
					<table class="table_1 mt15">
						<tr>
							<th align="left" colspan="6">
								<p class="fs12"><span class="fr pr10">订单金额：59.80</span>订单号：201410110000152029　　　　下单时间：2014-10-11 13:26:39</p>
							</th>
						</tr>
						<tr>
							<td width="30%">
								<p class="clearfix o-goods-info">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit ">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span>
								</p>
							</td>
							<td width="16%" align="center">￥1100</td>
							<td width="15%" align="center">1</td>
							<td width="15%" rowspan="2" align="center">李东海</td>
							<td width="12%" rowspan="2" align="center">退货<br>
								<a href="#" class="orange">订单详情</a>
							</td>
							<td width="12%" rowspan="2" align="center">
								<a href=""__PUBLICA__/indent/sqsh.html" class="a-sqsh green radius3">审批中</a>
							</td>
						</tr>
						<tr>
							<td>
								<p class="clearfix o-goods-info">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit ">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span>
								</p>
							</td>
							<td align="center">￥1100</td>
							<td align="center">1</td>
						</tr>
					</table>
					<table class="table_1 mt15">
						<tr>
							<th align="left" colspan="6">
								<p class="fs12"><span class="fr pr10">订单金额：59.80</span>订单号：201410110000152029　　　　下单时间：2014-10-11 13:26:39</p>
							</th>
						</tr>
						<tr>
							<td width="30%">
								<p class="clearfix o-goods-info">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit ">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span>
								</p>
							</td>
							<td width="16%" align="center">￥1100</td>
							<td width="15%" align="center">1</td>
							<td width="15%" align="center">李东海</td>
							<td width="12%" align="center">退货<br>
								<a href="#" class="orange">订单详情</a>
							</td>
							<td width="12%" align="center">
								<a href=""__PUBLICA__/indent/sqsh.html" class="a-sqsh green radius3">已审批</a>
							</td>
						</tr>
					</table>
					<table class="table_1 mt15">
						<tr>
							<th align="left" colspan="6">
								<p class="fs12"><span class="fr pr10">订单金额：59.80</span>订单号：201410110000152029　　　　下单时间：2014-10-11 13:26:39</p>
							</th>
						</tr>
						<tr>
							<td width="30%">
								<p class="clearfix o-goods-info">
									<a href="#" class="fl"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""></span></a>
									<span class="fl tit ">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span>
								</p>
							</td>
							<td width="16%" align="center">￥1100</td>
							<td width="15%" align="center">1</td>
							<td width="15%" align="center">李东海</td>
							<td width="12%" align="center">退货<br>
								<a href="#" class="orange">订单详情</a>
							</td>
							<td width="12%" align="center">
								<a href=""__PUBLICA__/indent/sqsh.html" class="a-sqsh green radius3">审批中</a>
							</td>
						</tr>
					</table>
					<div class="tab-pages">
						<a href="#" class="tab-prev tab-btn">上一页</a>
						<a href="#" class="page-btn current">1</a>
						<a href="#" class="page-btn">2</a>
						<a href="#" class="page-btn">3</a>
						<a href="#" class="tab-next tab-btn">下一页</a>
					</div>

				</div>

			</div>
		</div>
		<!--/end-->

{include file="../application/index/view/public/footer.html" /}