{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="__PUBLICA__/geren/grxx.html" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/wddd.html" class="db fs16">我的订单</a>
						</li>
						<li class="on">
							<a href="__PUBLICA__/indent/pjsd.html" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/shdz.html" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdsc.html" class="db fs16">我的收藏</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdgz.html" class="db fs16">我的关注</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/xgmm.html" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zhye.html" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zxcz.html" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/lljl.html" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/zixun.html" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/znx.html" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit line-bot clearfix">
						<h3 class="fl fs26">评价晒单</h3>
						<p class="fr slide-t-nav">
							<a href="#" class="on fs14 radius3">待评价商品</a>
							<a href="#" class="fs14 radius3">已评价商品</a>
						</p>
					</div>
					<div class="fav-list evaluate-list mt10">
						<ul class="clearfix">
							<li>
								<a href="#" class="pro "><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="tit fs14 full-db darkgray over">北京椿龄文化墙角一枝梅</a>
								<span class="fs14 full-db"><em class="orange">29.90</em> 元</span>
								<span class="fs12 full-db">95127人评价</span>
								<a href="__PUBLICA__/indent/pjsd_pj.html" class="orange-but mt5 fs14">评价商品</a>
							</li>
							<li>
								<a href="#" class="pro "><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="tit fs14 full-db darkgray over">北京椿龄文化墙角一枝梅</a>
								<span class="fs14 full-db"><em class="orange">29.90</em> 元</span>
								<span class="fs12 full-db">95127人评价</span>
								<a href="__PUBLICA__/indent/pjsd_pj.html" class="orange-but mt5 fs14">评价商品</a>
							</li>
							<li>
								<a href="#" class="pro "><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="tit fs14 full-db darkgray over">北京椿龄文化墙角一枝梅</a>
								<span class="fs14 full-db"><em class="orange">29.90</em> 元</span>
								<span class="fs12 full-db">95127人评价</span>
								<a href="__PUBLICA__/indent/pjsd_pj.html" class="orange-but mt5 fs14">评价商品</a>
							</li>
							<li>
								<a href="#" class="pro "><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="tit fs14 full-db darkgray over">北京椿龄文化墙角一枝梅</a>
								<span class="fs14 full-db"><em class="orange">29.90</em> 元</span>
								<span class="fs12 full-db">95127人评价</span>
								<a href="__PUBLICA__/indent/pjsd_pj.html" class="orange-but mt5 fs14">评价商品</a>
							</li>
							<li>
								<a href="#" class="pro "><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="tit fs14 full-db darkgray over">北京椿龄文化墙角一枝梅</a>
								<span class="fs14 full-db"><em class="orange">29.90</em> 元</span>
								<span class="fs12 full-db">95127人评价</span>
								<a href="__PUBLICA__/indent/pjsd_pj.html" class="orange-but mt5 fs14">评价商品</a>
							</li>
							<li>
								<a href="#" class="pro "><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
								<a href="#" class="tit fs14 full-db darkgray over">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</a>
								<span class="fs14 full-db"><em class="orange">29.90</em> 元</span>
								<span class="fs12 full-db">95127人评价</span>
								<a href="__PUBLICA__/indent/pjsd_pj.html" class="orange-but mt5 fs14">评价商品</a>
							</li>
						</ul>
					</div>
					<div class="tab-pages mt10">
						<a href="#" class="tab-prev tab-btn">上一页</a>
						<a href="#" class="page-btn current">1</a>
						<a href="#" class="page-btn">2</a>
						<a href="#" class="page-btn">3</a>
						<a href="#" class="tab-next tab-btn">下一页</a>
					</div>

				</div>

			</div>
		</div>
		<!--/end-->

{include file="../application/index/view/public/footer.html" /}