{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="{:url('geren/grxx')}" class="db fs16">个人信息</a>
						</li>
						<li>
							<a href="{:url('indent/wddd')}" class="db fs16">我的订单</a>
						</li>
						<li class="on">
							<a href="{:url('indent/pjsd')}" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="{:url('geren/shdz')}" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="{:url('geren/wdsc')}" class="db fs16">我的收藏</a>
						</li>
						<li>
							<a href="{:url('geren/wdgz')}" class="db fs16">我的关注</a>
						</li>
						<li>
							<a href="{:url('geren/xgmm')}" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="{:url('fund/zhye')}" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="{:url('fund/zxcz')}" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="{:url('indent/lljl')}" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/zixun')}" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/znx')}" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit line-bot clearfix">
						<h3 class="fl fs26">评价晒单</h3>
					</div>
					<div class="goods-pj">
						<div class="fl pj-goods">
							<a href="#" class="pro"><span><img src="__PUBLIC_INDEX__/upload/2.jpg" alt=""/></span></a>
							<a href="#" class="tit fs14 full-db darkgray">北京椿龄文化墙角一枝梅</a>
							<span class="fs14 full-db"><em class="orange">29.90</em> 元</span>
							<span class="fs12 full-db">95127人评价</span>
						</div>
						<div class="fr pj-info">
							<div id="xzw_starSys" class="mt20 clearfix">
								<div id="xzw_starBox" class="fl">
									<ul class="star" id="star">
										<li>
											<a href="javascript:void(0)" title="1" class="one-star">1</a>
										</li>
										<li>
											<a href="javascript:void(0)" title="2" class="two-stars">2</a>
										</li>
										<li>
											<a href="javascript:void(0)" title="3" class="three-stars">3</a>
										</li>
										<li>
											<a href="javascript:void(0)" title="4" class="four-stars">4</a>
										</li>
										<li>
											<a href="javascript:void(0)" title="5" class="five-stars">5</a>
										</li>
									</ul>
									<div class="current-rating" id="showb"></div>
								</div>
								<div class="fl description ml10 fs14"></div>
							</div>
							<div class="pj-cont mt15">
								<form action="">
									<textarea name="" id="" cols="30" rows="10" placeholder="色泽如何，口感如何，谈谈你的感受吧！"></textarea>
									<div class="pj-but tr mt15">
										<input type="button" onMouseMove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" value="添加图片" onClick="f.click()" class="add_pic fs14">
										<input type="file" id="f" onChange="txt.value=this.value" name="f" style="height:26px;" class="files" size="1" hidefocus>

										<input type="button" class="orange-but fs14 ml10" value="提交评价">
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
		<!--/end-->
{include file="../application/index/view/public/footer.html" /}