{include file="../application/index/view/public/grxx_tou.html" /}
		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="__PUBLICA__/geren/grxx.html" class="db fs16">个人信息</a>
						</li>
						<li class="on">
							<a href="__PUBLICA__/indent/wddd.html" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/pjsd.html" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/shdz.html" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdsc.html" class="db fs16">我的收藏</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/wdgz.html" class="db fs16">我的关注</a>
						</li>
						<li>
							<a href="__PUBLICA__/geren/xgmm.html" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zhye.html" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="__PUBLICA__/fund/zxcz.html" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="__PUBLICA__/indent/lljl.html" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/zixun.html" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="__PUBLICA__/xiaoxi/znx.html" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit clearfix">
						<h3 class="fl fs26">申请售后</h3>
					</div>
					<form action="">
						<div class="sh-info">
							<table class="table_1 table_sh">
								<tr>
									<th colspan="3" align="left"><span class="darkgray fs16 pl10">订单编号：  9911194980</span></th>
								</tr>
								<tr>
									<td width="10%" align="center"><input type="checkbox"></td>
									<td width="52%"><span class="darkgray fs14 pl10 ellipsis">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span></td>
									<td width="38%"><span class="darkgray fs14 pl10">29.90元 * 1</span></td>
								</tr>
								<tr>
									<td width="10%" align="center"><input type="checkbox" checked></td>
									<td width="52%"><span class="darkgray fs14 pl10">北京椿龄文化墙角一枝梅北京椿龄文化墙角一枝梅</span></td>
									<td width="38%"><span class="darkgray fs14 pl10">29.90元 * 1</span></td>
								</tr>
							</table>
							<p class="mt20 mb20 clearfix"><label class="fl fs16">退款金额：</label><input type="text" placeholder="" value="" class="fl"><label class="fl fs16">元</label></p>
							<p class="mb20 clearfix"><label class="fl fs16">问题描述：</label><textarea name="" id="" cols="30" rows="10"></textarea></p>
							<p><input type="button" class="orange-but radius3 fs16" value="提交申请"></p>
						</div>
					</form>
				</div>

			</div>
		</div>
		<!--/end-->
{include file="../application/index/view/public/footer.html" /}