{include file="../application/index/view/public/grxx_tou.html" /}

		<!--Main-wrap-->
		<div class="main-wrap graybg">
			<div class="wrapper pt40 pb40 clearfix">
				<div class="fl slide-nav white-box">
					<ul>
						<li>
							<a href="{:url('geren/grxx')}" class="db fs16">个人信息</a>
						</li>
						<li class="on">
							<a href="{:url('indent/wddd')}" class="db fs16">我的订单</a>
						</li>
						<li>
							<a href="{:url('indent/pjsd')}" class="db fs16">评价晒单</a>
						</li>
						<li>
							<a href="{:url('geren/shdz')}" class="db fs16">收货地址</a>
						</li>
						<li>
							<a href="{:url('geren/wdsc')}" class="db fs16">我的收藏</a>
						</li>
						
						<li>
							<a href="{:url('geren/xgmm')}" class="db fs16">修改密码</a>
						</li>
						<li>
							<a href="{:url('fund/zhye')}" class="db fs16">账户余额</a>
						</li>
						<li>
							<a href="{:url('fund/zxcz')}" class="db fs16">在线充值</a>
						</li>
						<li>
							<a href="{:url('indent/lljl')}" class="db fs16">退货记录</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/zixun')}" class="db fs16">我的咨询</a>
						</li>
						<li>
							<a href="{:url('xiaoxi/znx')}" class="db fs16">站内信</a>
						</li>
					</ul>
				</div>
				<div class="fr slide-show white-box">
					<div class="dark-tit clearfix">
						<h3 class="fl fs26">我的订单</h3>
						<p class="fr slide-t-nav">
							<a href="#" class="on fs14 radius3">有效订单</a>
							<a href="#" class="fs14 radius3">待支付</a>
							<a href="#" class="fs14 radius3">待收货</a>
							<a href="#" class="fs14 radius3">已关闭</a>
						</p>
					</div>
					<table class="table_1">
						<tr>
							<th width="30%">商品信息</th>
							<th width="16%">单价（元）</th>
							<th width="15%">数量</th>
							<th width="15%">收货人</th>
							<th width="24%" rowspan="2">订单状态</th>
						</tr>
					</table>
					{volist name="odata" id="ovol"}
					<table class="table_1 mt15">
						<tr>
							<th align="left" colspan="6">
								<p class="fs12"><span class="fr pr10">订单金额：{$ovol.money}.00</span>订单号：{$ovol.order}　　　　下单时间：{$ovol.createtime}</p>
							</th>
						</tr>
						{volist name="data" id="vol"}
						{if condition="$vol.order_id == $ovol.oid"}
						<tr>
							<td>
								<p class="clearfix o-goods-info">
									{volist name="pic" id="vole"}
									{if condition="($vole.cid eq $vol.coid)"}
									<a href="#" class="fl"><span><img src="{$vole.pic_name}" alt=""></span></a>
									{/if}
									{/volist}
									<span class="fl tit ">{$vol.cname}</span>
								</p>
							</td>
							<td align="center">￥{$vol.cmoney}</td>
							<td align="center">{$vol.com_num}</td>
							{/if}
						{/volist}
							
							<td width="12%" rowspan="2" align="center">已收货<br>
								<a href="#" class="orange">订单详情</a>
							</td>
							<td width="12%" rowspan="2" align="center">
								<a href="__PUBLICA__/indent/sqsh.html" class="a-sqsh green radius3">申请售后</a>
							</td>
						</tr>
						
						
					</table>
					{/volist}
					<div class="tab-pages">
						<a href="#" class="tab-prev tab-btn">上一页</a>
						<a href="#" class="page-btn current">1</a>
						<a href="#" class="page-btn">2</a>
						<a href="#" class="page-btn">3</a>
						<a href="#" class="tab-next tab-btn">下一页</a>
					</div>

				</div>

			</div>
		</div>
		<!--/end-->

{include file="../application/index/view/public/footer.html" /}