{include file="../application/index/view/public/index_tou.html" /}

		<!--navbar star-->
		<div class="navbar clearfix">
			<div class="content clearfix">
				<ul>
					<li><a href="{:url('index/index')}">首页</a></li>
					<li class="cur"><a href="{:url('zhuan/special')}">专场</a></li>
					<li><a href="{:url('store/mall')}">商城</a></li>
					<li ><a href="{:url('art/artist')}">艺术家</a></li>
				</ul>
			</div>
		</div>
		<!--navbar end-->
		
		<!--banner star-->
		<div class="banner">		
			<div class="bd">
				<ul>
					<li style="background:url(__STATIC__/img/banner.jpg) #194982 center 0 no-repeat;"><a target="_blank" href="#"></a></li>
				</ul>
			</div>
		</div>
		<!--banner end-->
		
		<!--specail star-->
		<div class="specail clearfix">
			<div class="top clearfix">
				<div class="recom-tit clearfix">
					<p class="engtit ta-center">
						SPECIAL CENTER
					</p>
					<div class="middle clearfix">
						<span class="line"></span>
						<span class="wenzi">专场中心</span>
						<span class="line"></span>
					</div>
					<p class="fu-tit">
						好作品无需多说 你会由心的看清它的诉说
					</p>
				</div>
			</div>
			<div class="content clearfix box-s">
				{volist name="speData->data" id="sval"}
				<div class="list clearfix fl box-s transition">
					<div class="tu clearfix fl">
						<img src="{$sval.pic}"/>
						<span></span>
					</div>
					<div class="right clearfix fr box-s">
						<div class="bt clearfix">
							{$sval.name}
						</div>
						<div class="ctent clearfix mt20 over3">
							{$sval.content}
						</div>
						<div class="zuopin clearfix">
							<ul>
								{volist name="comData" id="cval"}
									{if condition="$cval.speid eq $sval.id"}
									<li>
										<a href="{:url('commodity/pro_detail',['cid'=>$cval.comid])}">
											<img src="{$cval.pic_name}"/>
											<span></span>
										</a>
									</li>
									{/if}
								{/volist}
							</ul>
						</div>
						<a href="{:url('zhuan/special_detail',['spid'=>$sval.id])}" class="jinru ra3 transition">
							进入专场>
						</a>
					</div>
					{/volist}
				</div>
							
			</div>
			<div class="pages clearfix">
				<div class="page clearfix ta-right fl">
					<div>{$speData->render}</div>
				</div>
			</div>
		</div>
		<!--specail end-->
		
{include file="../application/index/view/public/footer.html" /}