{include file="../application/index/view/public/index_tou.html" /}

		<!--navbar star-->
		<div class="navbar clearfix">
			<div class="content clearfix">
				<ul>
					<li>
						<a href="__PUBLICA__/index/index.html">首页</a>
					</li>
					<li class="cur">
						<a href="__PUBLICA__/zhuan/special.html">专场</a>
					</li>
					<li>
						<a href="__PUBLICA__/store/mall.html">商城</a>
					</li>
					<li>
						<a href="__PUBLICA__/art/artist.html">艺术家</a>
					</li>
				</ul>
			</div>
		</div>
		<!--navbar end-->
		
		<!--banner star-->
		<div class="banner">		
			<div class="bd">
				<ul>
					<li style="background:url(__PUBLIC_INDEX__/img/banner.jpg) #194982 center 0 no-repeat;"><a target="_blank" href="#"></a></li>
				</ul>
			</div>
		</div>
		<!--banner end-->
		
		<!--specail star-->
		<div class="specail clearfix">
			<div class="top clearfix">
				<div class="recom-tit clearfix">
					<p class="engtit ta-center">
						SPECIAL CENTER
					</p>
					<div class="middle clearfix">
						<span class="line"></span>
						<span class="wenzi">专场中心</span>
						<span class="line"></span>
					</div>
					<p class="fu-tit">
						好作品无需多说 你会由心的看清它的诉说
					</p>
				</div>
			</div>
			<div class="content clearfix box-s">
				<div class="list clearfix fl box-s transition">
					<div class="tu clearfix fl">
						<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
						<span></span>
					</div>
					<div class="right clearfix fr box-s">
						<div class="bt clearfix">
							方框梅兰竹菊系列专场
						</div>
						<div class="ctent clearfix mt20 over3">
							方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框
							梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰
							竹菊系列专场......
						</div>
						<div class="zuopin clearfix">
							<ul>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1-4.png"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1.jpg"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/14.jpg"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1-2.png"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
										<span></span>
									</a>
								</li>
							</ul>
						</div>
						<a href="special_detail.html" class="jinru ra3 transition">
							进入专场>
						</a>
					</div>
				</div>
				<div class="list clearfix fl box-s transition">
					<div class="tu clearfix fl">
						<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
						<span></span>
					</div>
					<div class="right clearfix fr box-s">
						<div class="bt clearfix">
							方框梅兰竹菊系列专场
						</div>
						<div class="ctent clearfix mt20 over3">
							方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框
							梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰
							竹菊系列专场......
						</div>
						<div class="zuopin clearfix">
							<ul>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1-4.png"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1.jpg"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/14.jpg"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1-2.png"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
										<span></span>
									</a>
								</li>
							</ul>
						</div>
						<a href="special_detail.html" class="jinru ra3 transition">
							进入专场>
						</a>
					</div>
				</div>
				<div class="list clearfix fl box-s transition">
					<div class="tu clearfix fl">
						<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
						<span></span>
					</div>
					<div class="right clearfix fr box-s">
						<div class="bt clearfix">
							方框梅兰竹菊系列专场
						</div>
						<div class="ctent clearfix mt20 over3">
							方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框
							梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰
							竹菊系列专场......
						</div>
						<div class="zuopin clearfix">
							<ul>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1-4.png"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1.jpg"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/14.jpg"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1-2.png"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
										<span></span>
									</a>
								</li>
							</ul>
						</div>
						<a href="special_detail.html" class="jinru ra3 transition">
							进入专场>
						</a>
					</div>
				</div>
				<div class="list clearfix fl box-s transition">
					<div class="tu clearfix fl">
						<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
						<span></span>
					</div>
					<div class="right clearfix fr box-s">
						<div class="bt clearfix">
							方框梅兰竹菊系列专场
						</div>
						<div class="ctent clearfix mt20 over3">
							方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框
							梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰
							竹菊系列专场......
						</div>
						<div class="zuopin clearfix">
							<ul>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1-4.png"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1.jpg"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/14.jpg"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1-2.png"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
										<span></span>
									</a>
								</li>
							</ul>
						</div>
						<a href="special_detail.html" class="jinru ra3 transition">
							进入专场>
						</a>
					</div>
				</div>
				<div class="list clearfix fl box-s transition">
					<div class="tu clearfix fl">
						<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
						<span></span>
					</div>
					<div class="right clearfix fr box-s">
						<div class="bt clearfix">
							方框梅兰竹菊系列专场
						</div>
						<div class="ctent clearfix mt20 over3">
							方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框
							梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰竹菊系列专场方框梅兰
							竹菊系列专场......
						</div>
						<div class="zuopin clearfix">
							<ul>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1-4.png"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1.jpg"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/14.jpg"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/1-2.png"/>
										<span></span>
									</a>
								</li>
								<li>
									<a href="__PUBLICA__/zhuan/pro_detail.html">
										<img src="__PUBLIC_INDEX__/upload/4.jpg"/>
										<span></span>
									</a>
								</li>
							</ul>
						</div>
						<a href="special_detail.html" class="jinru ra3 transition">
							进入专场>
						</a>
					</div>
				</div>				
			</div>
			<div class="pages clearfix">
				<div class="page clearfix ta-right fl">
					<a href="#" class="pre box-s">上一页</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<span>...</span>
					<a href="#" class="next box-s">下一页</a>
					<span class="ml10">到第</span>
					<input type="" name="" id="" value="">
					<span>页</span>
					<input type="submit" name="" id="" value="确定">
				</div>
			</div>
		</div>
		<!--specail end-->
		
{include file="../application/index/view/public/footer.html" /}